[2019-11-29 14:33] mpiechocki opened #2 "Accessing non-optional content from a container containing other optional content"
Following test will fail now:

[code]

It happens because the "XYZ" view is optional AND nil by the time it's being inspected, so the Inspector throws a `InspectionError.viewNotFound` error. I don't think there is a simple way or a workaround to fix it :(

What is needed is that
[code]
this `content()` method could return nil in the second case, but that in turn will make other tests fail as it wi

[2019-11-29 14:50] nalexn commented on #2
@mpiechocki I just checked what's going in this case and found the reason.

When optional view is nil you should still be able to extract non-optional Text("ABC"), but it is bundled with the optional view in ToupleView.

The way Inspector works right now is it tries to unwrap that ToupleView and return an array of all contained views, and attempt to access nil optional view throws an exception, wh

[2019-11-29 14:52] mpiechocki commented on #2
Great! Remember: you're doing an awesome job with this library! :)

[2019-11-29 15:49] nalexn commented on #2
I've pushed a new version 0.0.9, should be fixed now

[2019-12-02 07:26] mpiechocki commented on #2
Working like a charm now! Thanks! :)

[2019-12-02 07:26] #2 closed

[2019-12-12 21:26] davisford opened #3 "How to inspect ForEach?"
Hi, I have the following View structure:

[code]

I have this pulled out of the outer view as a `var` in a test case.

[code]

Now I want to inspect the `ForEach`, but having trouble figuring out how...

[code]

This prints:

[code]

😮

If I try to just do:

[code]

It throws an error:

[code]

What / how can I get at the inner contents of the `forEach`.  I took a look at your `ForEach` tests, but

[2019-12-13 12:19] nalexn commented on #3
Hey @davisford ,

The "forEach" inspection works the same way as for Stack view. `try forEach.anyView(0)` would not work in your case, `try forEach.vStack(0)` is the correct call, which would return the vStack for the first element of the ForEach. In the same manner, `try forEach.vStack(1)` returns the second one, and so on.

But the error you're observing (`viewIndexOutOfBounds`) implies that you

[2019-12-13 13:18] davisford commented on #3
Hi @nalexn that makes sense now.  I have injected a mock view model in this view's initializer in the test.  When the view's `.onAppear` is called, it populates the orgs array, but this does not appear to be working in a unit test.

I am either mis-understanding something about the eventing in SwiftUI, or it isn't being triggered from the unit test.

[2019-12-13 13:32] nalexn commented on #3
The `.onAppear` gets called only when the view is part of the active view hierarchy. In unit tests, you need to manually inject view into the app's content view. You can check my other project where I do this in the tests: https://github.com/nalexn/clean-architecture-swiftui

Another pitfall here is that after the injection, in the `onAppear` callback you should obtain a fresh copy of the  "sut" v

[2019-12-13 18:38] davisford commented on #3
Thanks @nalexn -- makes sense.  I was able to get it working.  Appreciate the good info.

[2019-12-13 18:38] #3 closed

[2019-12-23 16:34] shayna34 opened #4 "Fatal error: No ObservableObject of type [type] found."
I'm running into some problems inspecting views with `@EnvironmentObject`. Namely, my tests crash with the following error:

**Fatal error: No ObservableObject of type Validation found.
A View.environmentObject(_:) for Validation may be missing as an ancestor of this view.**

I have a Validation class defined as:
[code]

The Validation class is used in a view as such:
[code]

The following test ca

[2019-12-23 16:46] nalexn commented on #4
This is the error from SwiftUI that indicates that you're accessing somewhere view's `var validation: Validation` instead of the parameter of the  `func body(_ validation: Validation)`. See if you're referring to it as `self.validation`.

[2019-12-23 17:24] shayna34 commented on #4
Ah, I see the problem. I had this text field:
[code]
It turned out `$validation` was referring to `var validation: Validation` instead of the parameter of the `func body(_ validation: Validation)`. I was able to fix it by adding a `@State var email` and refactoring the text field to the following:
[code]
Thanks for your help!

[2019-12-23 17:24] #4 closed

[2019-12-31 19:31] shayna34 opened #5 "Updating and accessing @State properties"
I have the following view, in which an optional `Text` view is toggled in and out of visibility when the button is tapped:
[code]
I am trying to test the optional view with the following:
[code]
The test fails on both assertions, as the `showErrorMessage` property remains false and the optional `Text` view remains hidden. Additionally, `showErrorMessage = false` is printed to the console when `try

[2020-01-04 15:13] nalexn commented on #5
SwiftUI handles `@State` mutation in a quite peculiar way: `@State` works as a proxy forwarding the updates to dedicated value storage in the SwiftUI engine, while the struct itself remains unchanged. I'm exploring the options to work around this.
This issue is not apparent for `@ObservedObject` or `@EnvironmentObject`.

[2020-01-07 09:44] nalexn commented on #5
@shayna34 good news: I've found the way to track the @State changes! I'll update the readme and tweak the framework for convenience, but conceptually here is the workaround:

Tweaks for the client view:

[code]

The code for testing:
[code]
I'll update the ViewInspector to provide a nice API which will hide all this bulky setup. Thanks for raising the issue!

[2020-01-07 16:17] shayna34 commented on #5
Oh, awesome! Works like a charm :) I'll keep an eye out for the ViewInspector update. Thank you so much for your help!

[2020-01-07 16:21] nalexn commented on #5
It turned out that this hack allowed me to overcome the issue with `@Environment` injection! I'm preparing a major update with natural environment injection support, without the need to refactor the body. All thanks to you @shayna34 !

[2020-01-07 20:15] nalexn commented on #5
@shayna34  The update is out! Please let me know if all works as expected

[2020-01-09 17:44] shayna34 commented on #5
@nalexn Apologize for the delay; I was able to get it working as expected. Thank you again for all of your help and for building such a useful library!

[2020-01-10 09:36] nalexn commented on #5
That's great! Let me know if you hit another roadblock - I'm always ready to help!

[2020-01-10 09:36] #5 closed

[2020-01-27 06:05] dreampiggy opened #6 "When using in `UIViewRepresentable`, update the `Binding` value does not trigger `updateUIView(:)` during unit test"
Demo `UIViewRepresentable` Code:
Just check https://github.com/SDWebImage/SDWebImageSwiftUI/blob/master/SDWebImageSwiftUI/Classes/AnimatedImage.swift :)

Demo Unit Test Code:

[code]

[2020-01-27 06:08] dreampiggy commented on #6
This `introspectAnimatedImage` method is just a helper method using https://github.com/siteline/SwiftUI-Introspect to introspect the native UIView (UIImageView here). I want to test the case:

+ When binding value turn to false, the `updateUIView` from SwiftUI is called, then `UIImageView.stopAnimating()` is called, and then `UIImageView.isAnimating` turn to false.

[2020-01-27 06:12] dreampiggy commented on #6
The toturial you post [here](https://github.com/nalexn/ViewInspector/blob/master/guide.md#views-using-binding), seems only showing the case:

+ When toggle the button state, we update the Binding to the value outside.

However, seems my case is:

+ When update the Binding value outside, should toggle the button state

[2020-01-27 06:39] nalexn commented on #6
Hey @dreampiggy ,

Your use case should be possible to test, however, after you change the Binding value outside, you'd need to trigger the asynchronous inspection described [in the next section](https://github.com/nalexn/ViewInspector/blob/master/guide.md#views-using-state-environment-or-environmentobject).
You may use `inspect` with `delay` parameter defaulting to zero.

[2020-02-02 04:13] dreampiggy commented on #6
This issue can be closed.

For `UIViewRepresentable`, you have to wrap that into a standalone native SwiftUI view. And it should have a closure that receive `Self` and send it outside. Because the structure is copied.

Using the new test code solve the problem:

https://gist.github.com/dreampiggy/0b83d31428b3bed0e5be7ffd7ac4aa02

[2020-02-02 04:13] #6 closed

[2020-02-02 04:30] dreampiggy commented on #6
Founded a new issue related to SwiftUI itself ?

Why same code, SwiftUI's NSViewRepresentable call `updateNSView` once, but UIViewRepresentable call `updateUIView` twice 😅

Not related to ViewInspector, but just a little curious.

[2020-02-02 04:58] dreampiggy opened #7 "Feature request: can ViewInspector inspect the native UIViewRepresentable to get UIView ?"
This is supported from another SwiftUI testing framework:

https://github.com/siteline/SwiftUI-Introspect

It use the UIKit/AppKit view hierarchy to search the view end with `ViewHost`.

Maybe we can have such a API?

[code]

[2020-02-03 15:37] nalexn commented on #7
This is now available in the `v0.3.5`. I've added support for (UI/NS)View and (UI/NS)ViewController (`UIViewRepresentable` and `UIViewControllerRepresentable`):

[code]

[2020-02-04 03:14] dreampiggy commented on #7
I've test the latest version and `uiView()` / `nsView()` works as expected !
Thanks for all of your effort for this feature. Now I've remove that SwiftUI-Introspect and use this one instead.

https://github.com/SDWebImage/SDWebImageSwiftUI/commit/f193c612b104085c482267252a8fc5d25d5d5e1d

[2020-02-04 03:14] #7 closed

[2020-02-05 08:47] nrivard opened #9 "Can't inspect `accessibilityLabel()`"
It appears that because the path for `accessibilityLabel()` uses `elements|some`, I always get a thrown error when trying to read it. In my inspection of the inspector (sorry!) I have the following modifier:

[code]

As you can see, `LabelKey` is in `plist`, but does not appear in `plist.elements.some`. Only my `accessibilityValue()` is in elements. Since `accessibilityValue()` is _also_ in `plist

[2020-02-05 08:48] nrivard commented on #9
An alternative is to make `LabelKey` (and `TraitStorage` etc.) also appear in `elements.some`. Not sure why they don't but I haven't fully familiarized myself with the inner workings here.

[2020-02-05 10:42] nalexn commented on #9
Hey @nrivard

How do you attach the `accessibilityLabel` in the code you're testing? I'd help me to troubleshoot faster, as the test I have for `accessibilityLabel()` succeeds and it's hard to compare the `dump`s

[2020-02-05 10:55] nalexn commented on #9
Yours `dump`:

[code]
The `dump` from the test in the framework:
[code]

The inner structure has a different structure, meaning that the code for attaching the modifier, or something in the project's configs or even the Phone's accessibility settings is different.

[2020-02-05 11:44] nrivard commented on #9
Here is my particular use-case:

[code]

Only the last modifier shows up in the `elements` path, so `label` succeeds and a query for `value` fails. If I switch `label` and `value`, then `value` succeeds and `label` will fail. Here is my test:

[code]

[2020-02-05 11:55] nalexn commented on #9
Got it! Accessibility modifiers work in a bit different way in SwiftUI than the others. Usually, the modifiers form a stack of wrapped `ModifiedContent` structures, while Accessibility patch one `ModifiedContent` and even change the inner structure. I'll implement a patch shortly. Thank you for rasing the issue!

[2020-02-05 12:01] nrivard commented on #9
Awesome, thank you! This project is great by the way!

[2020-02-05 14:28] nrivard opened #11 "Adding modifiers to overlay content breaks querying"
Consider this `View.body` function:
[code]

and the following test:
[code]

This fails (`/<unknown>: failed: caught error: Type mismatch: ModifiedContent<Text, _OffsetEffect> is not Text`).

So I tried to ask for `offset()` first but that also fails (`/<unknown>: failed: caught error: ModifiedContent<Text, _OffsetEffect> does not have 'offset' modifier`)

[2020-02-05 19:37] nalexn commented on #9
Should be fixed in `v0.3.6`

[2020-02-05 19:37] nalexn commented on #11
Nice catch! Fixed in `v0.3.6`

[2020-02-06 11:41] nrivard commented on #11
Indeed fixed, thank you! Feel free to close this issue.

[2020-02-06 11:41] nrivard commented on #9
Indeed fixed, thank you! Feel free to close this issue.

[2020-02-06 11:42] #11 closed

[2020-02-06 11:42] #9 closed

[2020-02-06 14:25] nrivard opened #12 "Can't inspect Range<Int> based ForEach"
The following test fails:

[code]

[2020-02-06 15:24] nrivard opened #14 "No support for Shapes"
There is no current support for shapes: `Rectangle`, `Circle`, `Ellipse`, `Capsule`, `Path`, `RoundedRectangle`.

There is no current support for manipulated shapes: `TransformedShape`, `InsettableShape`, `OffsetShape`, `RotatedShape`, `ScaledShape`.

[2020-02-06 15:24] nrivard opened #15 "No support for Spacer"
This one seems relatively easy but there is no support for `Spacer`

[2020-02-06 18:54] #12 closed

[2020-02-06 19:01] nalexn commented on #15
@nrivard you're very helpful! Are you planning to work on this one or Shapes support? I don't want to take the initiative from you, otherwise, I can add these tomorrow

[2020-02-07 00:24] YuantongL opened #16 "Accessing a custom view with generic type"
I'm trying to access a custom view like
[code]
using
```let _ = try? someView.view(CustomControl<Text>.self)```
I have to provide a type Text, is there a way I can omit the type?

[2020-02-07 10:02] nalexn commented on #16
@YuantongL the current framework's API does not allow that. I've checked the implementation and this is possible to add, however, the result of the call won't have `actualView` property for accessing the underlying typed view. The contents of the `body` will be inspectable, but you'd still need the `T` type information for further inspection that works for an arbitrary `T`.

In my opinion it is su

[2020-02-07 15:49] #16 closed

[2020-02-07 16:36] nalexn commented on #15
Support for `Spacer` is added in `v0.3.7`

[2020-02-07 16:36] #15 closed

[2020-02-07 16:36] nalexn commented on #14
Support for `Shape` is added in `v0.3.7`

[2020-02-07 16:36] #14 closed

[2020-02-10 21:06] YuantongL opened #17 "Can't inspect `Accessibility Hint`"
I think this is very similar to https://github.com/nalexn/ViewInspector/issues/9 @nrivard had

I made a
[code]

Then in my test
[code]
will fail inspect whichever on the second

[2020-02-10 22:56] YuantongL opened #18 "Loop when inspect 1 item in VStack"
If I try to makeIterator() on VStack with 1 element
[code]
iterator.next() will always have value, this creates a infinite loop

[2020-02-11 01:42] YuantongL commented on #18
Looks like A H/V/ZStack is not considered TupleView in the following function
[code]
I opened the PR for this fix, but idk if this is the correct fix

[2020-02-11 03:21] YuantongL commented on #17
This works!
[code]

[2020-02-11 03:21] #17 closed

[2020-02-11 10:36] nrivard commented on #18
I have been using `underestimatedCount`:

For example:
[code]

[2020-02-11 10:38] nrivard opened #20 "Doesn't compile for watchOS"
The library says watchOS is supported but when I try to build, either by opening as a package in Xcode (_not_ the .xcodeproj file) or as a dependency in another project, I get failures due to the use of `XCTest` which isn't supported.

[code]

[code]

[2020-02-11 12:28] nalexn commented on #17
A bit more universal extension that should also work:
[code]

[2020-02-11 13:06] nalexn commented on #18
@YuantongL I've added a test and merged your PR. Nice find!

[2020-02-11 13:09] nalexn commented on #20
Yea, I'm aware of this issue. Do you have an Apple Watch to try building for?
I was hoping this is just an issue for watchOS simulator, due to the message Xcode prints out:

So I cannot verify if it builds for a real Watch or not

[2020-02-11 13:12] nalexn commented on #20
I can make the framework compile by conditionally disabling several helpers from the public API of the framework. Not sure if it's the right way out

[2020-02-11 13:12] nrivard commented on #20
There just is no XCTest support for watchOS. The cleanest solution is to wrap all XCTest related code in an `#if`. I tried using:
[code]
but there are some grumblings in stackoverflow that this statement does not work in swift packages. I can confirm that it didn't work for me. Instead, you will likely have to wrap code via:
[code]

[2020-02-11 13:58] nalexn commented on #20
If watchOS does not have `XCTest`, does it mean there is no official way to test a watchOS app?

I think there are two options:
1. Remove the support for watchOS, as ViewInspector is useless for this platform
2. Provide limited API of the ViewInspector for watchOS for a case if someone needs to inspect the app in production
3. Add a [third-party implementation](https://github.com/dfed/XCTest-watch

[2020-02-11 13:59] nrivard commented on #20
I think it makes sense to remove watchOS support. This is a library that is tightly coupled with XCTest and there are no officially supported ways to use XCTest on watchOS.

[2020-02-11 14:06] nalexn commented on #20
Well, there are just two exported modules that have `import XCTest`, so in theory, it's not hard to decouple `XCTest`. But I think you're right, it's better to drop the watchOS for now.

[2020-02-11 14:23] nalexn commented on #20
Removed for `v0.3.8`

[2020-02-11 14:23] #20 closed

[2020-02-11 14:24] nalexn commented on #18
Fixed in `v0.3.8`

[2020-02-11 14:24] #18 closed

[2020-03-01 18:12] davdroman commented on #5
Sorry for commenting on a closed issue, but I wanted to personally thank you for this effort. I thought I hit a roadblock with this and here comes the Swift open source community to prove me wrong! Thank you so much.

[2020-03-01 18:22] nalexn commented on #5
@davdroman you're very much welcome! And thank you for sponsoring! 😁

[2020-03-11 00:15] rsarker opened #21 "Feature Request: Make modifierAttribute public"
Is it possible to make modifierAttribute as public so that we can extend it and add support for more modifiers? Unless there is a way to actually add support for different modifiers that are not available currently.
For example, for
1. Texts, there is no function to return the **Font or Color** of the Text.
2. For Stacks, no function to return **Spacing or Alignment.**

[2020-03-12 18:38] nalexn commented on #21
I think `modifierAttribute` is too generic for exposing as a public API. You can submit a PR where you use `modifierAttribute` to extract the specific attribute like **Font**. This way you'd help the community as well.

[2020-03-15 15:32] #21 closed

[2020-04-02 18:19] mfdeveloper opened #22 "[Import error] No such module 'ViewInspector'"
**Xcode version:** 11.4
**Swift version:** 5.1
**Cocoapods version:** 1.9.1

Hello there!!

I'm trying add this package into my project to `SwiftUI` tests targets, and I've found the error below:

![viewinspector-import-error](https://user-images.githubusercontent.com/431606/78283953-820f6a00-7516-11ea-8d61-80a649c5f8a5.png)

I tried use this package with **Swift package manager** and with **Cocoa

[2020-04-02 18:45] nalexn commented on #22
Hey @mfdeveloper !
This is hard to tell what exactly what went wrong, as there are many cases that cause this, but I'd suggest trying different troubleshooting techniques you can find by searching for "No such module CocoaPods" and "No such module Swift Package manager". There are [couple](https://github.com/kareman/SwiftShell/issues/47) of [links](https://stackoverflow.com/questions/57165778/gett

[2020-04-02 22:12] mfdeveloper commented on #22
Hey @nalexn !

Thank you sooo much for your quickly response! I read this articles that you post in your comment, follow the responses on the threads, but still don't works.

So, I saw the `ViewInspector` XCode **scheme**, and I try these steps:

1. Change the scheme by side of **Stop** button on XCode

![viewinspector-scheme](https://user-images.githubusercontent.com/431606/78304442-ad09b600-7536

[2020-04-03 08:59] nalexn commented on #22
Glad you've resolved the issue! Let me know if you need assistance with something else

[2020-04-03 08:59] #22 closed

[2020-04-03 17:11] mfdeveloper commented on #22
Thanks a lot for your attention @nalexn !

My last suggestion about this is add this information about build **scheme** (or reference this issue) on [README.md](README.md) file. What do you think?

[2020-04-03 18:46] mfdeveloper opened #23 "[CustomView] View is not found"
Hello @nalexn !

I'm trying test a custom view that contains a `@ViewBuilder` implementation and a specific `ActivityIndicator` in your body. The code is something like below:

[code]

So, my `CustomView` class use this `ActivityIndicatorView` in your body. The others view are children of this activity view, like this:

[code]

So, how can I test this, to get the `VStack` and `NavigationView` from

[2020-04-04 09:38] nalexn commented on #23
@mfdeveloper
Neither of your views contains `AnyView`, so then you try to extract it by calling `.anyView()` you get the `typeMismatch` error. You need to repeat the actual view structure when you're unwrapping it.

You have provided only portions of the actual code, so I cannot fully replicate your use case, but here is a close example.

Considering `ActivityIndicatorView` is:

[code]

and `Conte

[2020-04-04 09:50] nalexn commented on #22
Usually, you don't need to manually compile CocoaPods targets as they should be set as a prerequisite for the main app target. There is something wrong with your current CocoaPods integration, did you run `pod install` and then open the xcworkspace, as opposed to the original xcodeproj?
Anyway, I think it would be worthwhile adding this in the readme if more people face this issue, for now, I'd ju

[2020-04-04 11:06] mfdeveloper commented on #22
Yeah, I've recreate **Cocoapods** integration from zero, and I still need compile from the ViewInspector scheme. The same happens to **Swift Package manager**, I don't know why 😞

But ok, no problem. If someone else face this issue, maybe a "troubles" section in _README_ with common errors/mistakes can help!

[2020-04-10 14:52] mfdeveloper commented on #23
Hello @nalexn !

I've read your guide in: [Views using @State, @Environment or @EnvironmentObject ,Approach 2](https://github.com/nalexn/ViewInspector/blob/master/guide.md#approach-2) and changed my approach for SwiftUI tests, and for this case, I did the following:

**1) Create a test method for `ActivityIndicator`**

[code]

**2) Create another test for `ContentView` that contains `ActivityIndic

[2020-04-15 05:20] dreampiggy opened #24 "Access SwiftUI.Image the CGImage based attribute"
Currently we have both `.uiImage()` and `.nsImage()`. However, due to some performance or bugs of SwiftUI, we have to use the CGImage based to provide the `SwiftUI.Image`. I want to write test case to ensure this behavior.

Bugs: https://github.com/SDWebImage/SDWebImageSwiftUI/issues/101

See the API: https://developer.apple.com/documentation/swiftui/image/3364311-init

So, please make [this API](

[2020-04-15 06:08] dreampiggy commented on #24
@nalexn  See PR: #25

[2020-04-15 08:41] #24 closed

[2020-04-15 08:51] dreampiggy commented on #24
@nalexn  Seems I forgot to update the documentation :)
And, hope for a release tag fot this, so that my framework who need the CGImage can switch back from my forked repo.

![image](https://user-images.githubusercontent.com/6919743/79318198-3d81c680-7f39-11ea-8a36-3c39783a1c20.png)

[2020-04-15 09:10] nalexn commented on #24
Tag added. Thank you for your contribution!

[2020-04-17 14:00] #23 closed

[2020-04-23 18:29] jagothjdey opened #26 "Not working though both values are same"
import XCTest
import ViewInspector

@testable import RandomListProject

extension ContentView: Inspectable { }

class ContentViewTests: XCTestCase {

    func testStringValue() throws {
        let sut = ContentView()
        let value = try sut.inspect().text().string()
        XCTAssertEqual(value, "Hello, world!")
    }
}

import SwiftUI
struct ContentView: View {
         var body: some View {

[2020-04-26 09:42] nalexn commented on #26
Hm.. That's weird. Since the string was extracted correctly: `Optional("Hello, World!")`, my guess is that this is related to your dev environment (Xcode / Swift version). Also, your project may have an extension for Optional that shadows the default Equatable protocol conformance for Optional.
This test is basically equivalent to the following:
[code]
Which obviously should succeed in a healthy s

[2020-04-26 12:56] jagothjdey commented on #26
Thanks. I will get back to you after some checkings.

[2020-05-05 12:22] TimAEllis commented on #26
May be unrelated, but noticed that the case of `w` in world is different (upper vs lowercase)
[code]
and
[code]

[2020-05-05 12:37] nalexn commented on #26
Haha, nice catch Tim!

[2020-05-05 16:41] jagothjdey commented on #26
Oh my goodness. Do you know what I was really looking for a solution.
Thanks a lot 😎😛

On Tue, 5 May 2020, 2:38 pm Alexey Naumov, <notifications@github.com> wrote:

[2020-05-09 10:02] #26 closed

[2020-05-13 09:13] teeneoapp opened #27 "Undefined symbol: nominal type descriptor for project.ContentViewTest"
Hi, I would like to use ViewInspector to test my views in Swift UI.

When I try to launch my test, 3 errors appears:
- Undefined symbol: nominal type descriptor for project.ContentViewTest
- Undefined symbol: protocol conformance descriptor for project.ContentViewTest : SwiftUI.View in project
- Undefined symbol: type metadata for project.ContentViewTest

**Can someone help me please ?**

projectU

[2020-05-15 13:52] SeanMcTex commented on #27
I'm seeing a similar issue. If anyone is able to get this sorted, I'd be glad to know about it!

[2020-05-15 13:57] SeanMcTex commented on #27
Aha! In my case, this was resolved by actually following the installation instructions correctly. ;) I'd failed to select the test target when I was installing the package the first time:

"Hit Next two times, under Add to Target *select your test target*. There is no need to add it to the build target."

[2020-05-18 07:29] teeneoapp commented on #27
Yeah I think I failed my installation
I will try again, thanks for your help ;)

[2020-06-03 18:45] nobre84 opened #29 "Issue when inspecting views that interact with navigationBarItems"
Hi! Awesome work here, thank you!
Given this view and its test:
[code]

Is this not supported, or am I missing something?

[2020-06-07 11:30] #27 closed

[2020-06-07 12:23] nalexn commented on #29
Hey @nobre84

The first thing I've noticed is `try detailView.body.inspect()`, which made me think you've forgotten to add `extension DetailView: Inspectable { }` in your test scope and had to inspect `body` instead of the view itself. Make sure you have it, and although it's not forbidden, I'd recommend to never call `body` and inspect the main view instead.

`.navigationBarItems()` is quite tric

[2020-06-11 01:01] shabib87 commented on #29
Hi @nalexn, Thanks for the wonderful library. I am facing a similar issue related to `navigationBarItems`. I have the following view
[code]

The following test is passing:
[code]

But I am not sure
- how to test the left and right button tap, and
- how test navigation title matches "Home"

Any help would be highly appreciated. Thanks!!!

[2020-06-11 07:27] nfrydenholm opened #30 "Custom view(builder) example"
Hi

I'm trying out ViewInspector, which seems like a nice option for writing unittests for the views.

I had a few working tests for a view, until I decided to refactor a bit, and introduce a new View as my the root, which is a ViewBuilder.
Now I can't figure out how to extract it's child.

My "base viewbuilder" is defined like this

[code]

In my test - before wrapping the content in the `FormBas

[2020-06-11 09:20] nalexn commented on #29
Hey @shabib87

Inspection of the navbar items and title is currently [not supported](https://github.com/nalexn/ViewInspector/blob/master/readiness.md#configuring-navigation-and-status-bar-views). Navbar modifiers are doing some real black magic under the hood, messing with the global environment settings, and currently I couldn't find a way to crack this.

[2020-06-11 17:28] shabib87 commented on #29
Thanks for the confirmation. Hope we'll have this feature in some future version.

[2020-06-13 11:07] nalexn commented on #30
Hey @nfrydenholm

It turned out that ViewInspector was unable to extract the @ViewBuilder's content. I've added support for this in v0.3.13

[code]

[code]

[2020-06-15 08:03] nfrydenholm commented on #30
Thanks @nalexn - that was a quick reaction to my question - much appreciated 🙇‍♂️ 👍

I got it working based on the examples you provided. 👏

I did bump into an issue, where I had to make a minor change to my code.

Based on the below sample, maybe you can tell if it's expected behaviour 😄

[code]

If I run a ViewInspector test on this, I get a very literal Tuple back saying the type was expected l

[2020-06-16 19:19] nalexn commented on #30
Hey @nfrydenholm

I double-checked the view extraction code and found out that the requirement for the generic parameter to match the actual inner view type was unnecessary, so this requirement is removed in v0.3.14

The base view type still has to match, but if it has a generic parameter, you can substitute any view type, such as `AnyView` or `EmptyView`:

[code]

[2020-06-27 13:12] joemasilotti opened #32 "How to work with @EnvironmentObject?"
First off, amazing work on this library! I'm looking forward to diving in and testing a few of my apps.

I'm trying to work with a view that uses `@EnvironmentObject` but can't seem to get it to work, even after reading through `guide.md`.

I receive the following error on the `Text(strings.all.first ?? "(none)")` line:
[code]

Here's the smallest amount of code I can write to reproduce the error.

[2020-06-27 16:20] nalexn commented on #32
Hey @joemasilotti

Your test would work if you had @ObservedObject instead of @EnvironmentObject. They are using different injection mechanics, and SwiftUI does not plug in the environment until the view is about to render on screen. Long story short, your view has to be natively injected in the drawing routine, a synchronous test that you have would not work. You can pick one of the [two approach

[2020-06-27 20:25] joemasilotti commented on #32
Ah, thanks. I totally skipped that part and dove right into the `@EnvironmentObject` section!

Unfortunately, I'm getting the same error. Here's my updated code which (I think) follows the instructions outlined in the guide.

[code]

[code]

I'm assuming I'm missing something silly. Any idea what it could be? Thanks in advance for the help.

[2020-06-28 09:17] nalexn commented on #32
Ok, I can see where the problem is. Just replace

[code]

with

[code]

[2020-06-28 12:49] joemasilotti commented on #32
Ah, of course! Thank you so much for the help @nalexn :)

[2020-06-28 12:49] #32 closed

[2020-07-05 13:33] #30 closed

[2020-07-16 17:17] asam139 opened #33 "Some way to inspect tuple view children"
For example, I have the type InspectableView<ViewType.View<TupleView<(AnyView, AnyView?)>>>, I didn't find a way to get each view to check some properties if it is defined as the tap gesture.

[2020-07-18 07:39] nalexn commented on #33
I would be helpful if you posted the actual view structure. From the view type you mentioned I can only assume you have a custom view defined as the view builder. This case has been discussed [here](https://github.com/nalexn/ViewInspector/issues/30), so the `.viewBuilder()` call allows you to unwrap the TupleView inside a custom view. I'm not sure how the tap gesture is related to this, so if you

[2020-07-23 16:34] vruzeda opened #34 "Missing support for inspecting concatenated Text views"
I have a use case in which I need to concatenate `Text` views, and I want to inspect the result of that, but ViewInspector throws an error in that case. You can see a really simple example reproducing the issue below:

<table>
<tr>
<th>Test</th>
<th>Result</th>
</tr>

<tr>
<td>
<pre>
    func testSingleText() throws {
        let sut = Text("ab")
        let text = try sut.inspect().text().string(

[2020-07-23 16:42] nalexn commented on #34
Hey @vruzeda

Good catch, I didn't know `Text` views can be combined this way . I'll add support for this shortly. A heads up though: I didn't announce integration through cocoapods, so it's unofficial, and currently there is a [blocker](https://github.com/nalexn/ViewInspector/pull/8#issuecomment-647178363) for updating the lib version on the cocoapods. v0.3.8 is [already quite far behind](https:/

[2020-07-23 16:50] vruzeda commented on #34
Thanks for the quick reply.

I'll try to persuade the team to start using Swift Package Manager, but we have a legacy project with tons of Cocoapods dependencies, so the easiest way for me to get approval on new dependencies is through the same dependency mechanism. That being said, I'm able to reference the project from GitHub and get version 0.4.0.

[2020-07-23 22:17] nalexn commented on #34
v0.4.1 - added support for concatenated Text views

[2020-07-24 00:41] vruzeda commented on #34
Works like a charm! Thanks for the lighting fast fix!

[2020-07-24 00:41] #34 closed

[2020-07-26 19:19] joemasilotti opened #37 "Query nested interfaces"
Do you have any thoughts on the amount of work required to _query_ nested interfaces? More like how UI Testing works?

Meaning, not having to write out every single intermediate view to get to a deeply nested one. Right now a complex hierarchy takes a lot of boilerplate to verify deeply nested items. Take, for example, the following.

[code]

[code]

Ideally, I could write something like the follo

[2020-07-29 05:23] rsarker opened #38 "Inspect Views which overrides properties on other View."
let's imagine we have a view like this,
[code]

How can we inspect the ```ChildView```?

Thanks...

[2020-07-31 18:05] nalexn commented on #38
Hey @rsarker

Here is the test for your case:

[code]

Also make sure you extended both `ChildView` and `BaseView` with conformance to `Inspectable` (following the [guide](https://github.com/nalexn/ViewInspector/blob/master/guide.md#the-basics))

[2020-07-31 18:17] nalexn commented on #37
Hey @joemasilotti

That's an interesting idea, I'd need to learn more about your [repo](https://github.com/joemasilotti/UI-Testing-Cheat-Sheet) to get a better idea of the functionality that should come with this dynamic query.

At a high level, I think this should be possible. There is a function `Inspector.print(...)` that traverses the SwiftUI view tree and prints its structure, even by using t

[2020-07-31 18:21] rsarker commented on #38
@nalexn great!! Thanks for your prompt response.

[2020-07-31 19:59] #38 closed

[2020-08-04 14:38] joemasilotti commented on #37
The repo is a cheat sheet for how to use the built in UI Testing functionality of Xcode. It doesn't actually "do" anything, it's just a few practical examples.

The dynamic querying is built in to UI Testing and has been since it was released in Xcode 7. To sum it up, you can query a nested view hierarchy without having to worry about the entire structure. Think of how a CSS query selector works f

[2020-08-05 17:22] nalexn commented on #33
@asam139 please reopen the ticket if you have any questions.

[2020-08-05 17:22] #33 closed

[2020-08-27 01:15] Roman500px opened #40 "forEach on forEach, index out of bounds"
Hi Alex, thanks for building an awesome library!

There seems to be something wrong going on with the Iterators.
This snippet causes an index out of range exception:
[code]

[2020-08-27 08:03] nalexn commented on #40
You're right, just pushed a fix for it. v0.4.5

[2020-08-27 13:21] Roman500px commented on #40
It works! Thank you!

[2020-08-27 13:21] #40 closed

[2020-08-30 11:57] Tunous opened #41 "Verifying Text attributes based on Range<String.Index>"
Given the following example:

[code]

I would like to verify that whole "italic" word has correct attribute applied without the need to manually calculate correct range (`5..<11` I believe). My first idea was to use `range(of:)` method on string to find the part that interests me like this:

[code]

Unfortunately that is currently not possible due to marked error.

Do you think it would be desirab

[2020-09-01 10:22] Tunous commented on #41
Closing since the pull request implementing it has been merged.

[2020-09-01 10:22] #41 closed

[2020-09-07 15:41] integer256 opened #44 "Script to autogenerates tests (like Snapshot testing)"
Currently how [Snapshot](https://github.com/uber/ios-snapshot-test-case) testing works, is that you run the tests on a recording mode. Where you know that the views are correct, and later on, we can assert against that source of truth. Would it be possible to do something similar with this library?

I was wondering if would be helpful to create a script that auto-generates tests for a given View.

[2020-09-07 15:51] nalexn commented on #44
Hey @matiasvillaverde, there was a [proposal](https://github.com/nalexn/ViewInspector/issues/37) for improving the library in a way of making the lookup more dynamic and tolerant to the view structure changes.

Snapshotting or auto-generating the full path in the code saves time while you write the test, but the test remains fragile, where a tiny change in the view hierarchy could break it.

So fa

[2020-09-07 16:03] matiasvillaverde commented on #44
Cool! It makes sense. In the case of snapshot, a change that breaks the tests can be a trigger to re-run the generation of the tests.

Keep me in the loop, in case I can contribute to it, it is a topic that interest me.

[2020-09-08 15:53] matiasvillaverde opened #45 "Carthage support"
We are thinking to start using library for new SwiftUI features, but we need Carthage support because we can not use Swift Package Manager yet. Would it be possible to support it?

[2020-09-08 18:41] nalexn commented on #45
Looking into it

[2020-09-08 19:28] nalexn commented on #45
@matiasvillaverde

The framework now should compile with Carthage:

[code]

[2020-09-08 19:32] matiasvillaverde commented on #45
Thanks @nalexn! That was fast!

[2020-09-09 19:15] #45 closed

[2020-09-12 09:21] Ganyev opened #48 "Test background color of views"
Hello,
Is there any ways to test background color (or any other colors) of views (e.g. Text().background) ?

[2020-09-12 12:29] nalexn commented on #48
Hey! The `Color` view has mysteriously sneaked out of the scope! It's added in v0.4.8

So you can either compare the color value directly:

[code]

compare the name:

[code]

or get the actual RGBA values:

[code]

Note, that the `Color(red:, green:, blue:)` and some other initializers use `.sRGB` color space as the default parameter. Because of this, the inner RGB representation may be different

[2020-09-12 12:29] #48 closed

[2020-09-15 09:41] Ganyev opened #49 "Error while running app"
Hello,
I have some unclear issue.

When I run app, it's crashes and in logs I found here:

dyld: Library not loaded: @rpath/XCTest.framework/XCTest
  Referenced from: /Users/xxx/Library/Developer/CoreSimulator/Devices/1323FEEC-8B65-43C1-9EA5-8E09E6242D36/data/Containers/Bundle/Application/CAA0CC5F-F5E4-48AA-A0D2-92DF04533468/Xxx.app/Xxx
  Reason: image not found

And it's happening when I add `pod

[2020-09-15 09:43] nalexn commented on #49
Hey @Ganyev

Make sure you add `pod 'ViewInspector'` for the test target, not the main one

[2020-09-15 10:29] Ganyev commented on #49
Yes, my fault, I'd added it in main target.
Now, I moved it in test target and I try to inherit my View from `Inspectable` protocol.
When I add `import ViewInspector` there, an error appears `No such module 'ViewInspector'`
What's wrong now?

[2020-09-15 10:31] nalexn commented on #49
Check out #22

[2020-09-15 11:02] Ganyev commented on #49
@nalexn thanks, I got my problem.

[2020-09-15 11:02] #49 closed

[2020-09-17 14:08] alex76 opened #50 "Since Xcode12 GeometryProxy uses more bytes in memory"
GeometryProxy uses since Xcode12 52 bytes instead of 48. The precondition fails for Allocator (which uses 48)  in GeometryProxy extension.

[code]

[2020-09-17 14:18] nalexn commented on #50
Yep, that's fixed in `0.4.9`

[2020-09-17 15:23] #50 closed

[2020-09-21 17:45] rojasjandro89 commented on #2
In this very example, how do I check that in fact the second text is not displayed if the flag is false. Let’s say that’s my assertion, how should I proceed?

[2020-09-22 21:03] nalexn commented on #2
@rojasjandro89

Here are two tests for comparison:

[code]

and the one you requested:

[code]

[2020-09-29 02:55] theMistletoe opened #51 "How can I test to present modal?"
I wanna test that modal presentation by tapping button. (Like below code)
using ViewInspector, How can i write test code?

[code]

[2020-10-07 14:49] multitudes opened #52 "Could not install on Xcode 12.2 beta"
I am on Xcode 12.2 beta and I could not install the package. After following the steps described in the documentation the "Finish" button did not become highlighted. Is this a known issue?

![Screenshot 2020-10-07 at 16 47 19](https://user-images.githubusercontent.com/29355828/95347260-fe677900-08bc-11eb-98cf-acb7e8817f3c.png)
Thanks

[2020-10-10 10:17] nalexn commented on #51
Hey, the library is [currently unable](https://github.com/nalexn/ViewInspector/blob/master/readiness.md#presenting-sheets) to inspect the `sheet`'s state and content view

[2020-10-10 10:21] nalexn commented on #52
This is a [known issue](https://developer.apple.com/forums/thread/660753) with Xcode 12.2 beta.

[2020-10-12 09:38] agiokas opened #53 "Xcode hangs on same cases."
I am experiencing strange issue.

Xcode hangs after I run the following "Test"
Version 12.0.1 (12A7300)

[code]

[code]

[2020-10-12 09:41] agiokas commented on #53
The issues has something to do with the @StateObject.

[2020-10-12 20:33] nalexn commented on #53
@agiokas have you tried [async inspection](https://github.com/nalexn/ViewInspector/blob/master/guide.md#views-using-state-environment-or-environmentobject)? I didn't have time yet to add tests and fully explore **@StateObject**, but from my current understanding it's closer to "@State" than to "@ObservedObject", so I would try the async inspection instead.

[2020-10-23 10:53] NeverwinterMoon opened #54 "Live Preview on Device not working"
After I'd added ViewInspector, Live Preview on Device stopped working, it seems:

[code]

The regular Live Preview is working fine though

[2020-10-23 10:56] nalexn commented on #54
Hey @NeverwinterMoon
You should not link ViewInspector with your build target, only with the test target.

[2020-10-23 10:57] NeverwinterMoon commented on #54
As far as I understand, I am not doing that...

[code]

[2020-10-23 11:01] nalexn commented on #54
If pods are integrated correctly, they should leave to trace in the main target. Try pod deintegrate - pod install, see what are the leftovers in the main target. It should not know ViewInspector exists

[2020-10-23 11:02] nalexn commented on #54
If you are not bound to using cocoapods, I would highly recommend using SPM or Carthage instead

[2020-10-23 11:29] NeverwinterMoon commented on #54
Hah, I am still not able to use SPM (I would have loved to though), as I have some dependencies not supporting that yet.

But yeah, did deintegrate/install and I don't see any traces of ViewInspector in the main target, but the Live Preview on Device is still failing...

I've just tried creating a blank project with Cocoapods and just ViewInspector dependency targeting unit tests and it fails the

[2020-10-23 11:32] nalexn commented on #54
Gotcha. I'll have a look over the weekend!

[2020-10-24 08:32] nalexn commented on #54
@NeverwinterMoon

You need to add the following to the end of your podfile:

[code]

This should solve the actual problem that was printed in the second message. The first message refers to `SWIFT_OPTIMIZATION_LEVEL`, which [also can be tweaked](https://github.com/CocoaPods/CocoaPods/issues/4439) in podfile. However, this was not needed in my test case.

[2020-10-24 10:44] NeverwinterMoon commented on #54
Actually, I managed to solve this.

Cocoapods automatically generates the following Podfile structure by default on initialization (I somehow managed not to pay attention to that):
[code]

Even with the above, I was not able to see any references to `ViewInspector` in configs (search paths) generated by Cocoapods for the main target. Nonetheless, I had tried moving the 'UnitTest' target pod config

[2020-10-24 11:22] nalexn commented on #54
I'm glad you got this sorted out!

[2020-10-24 11:22] #54 closed

[2020-10-29 02:10] elmetal opened #55 "How to inspect views in NavigationView when it has navigationBarItems?"
I wanna test this view.
[code]

But this test caught error.
[code]

How can I inspect `Text("test")`?

[2020-10-29 08:49] nalexn commented on #55
You should pay attention to the error being thrown - it has all the instructions. Also, there is [the same issue](https://github.com/nalexn/ViewInspector/issues/29) discussed in detail.

The passing test:

[code]

[2020-10-29 08:49] #55 closed

[2020-11-04 11:46] bukira commented on #33
I have the same issue
my structure is as follows

struct MyView: View {
    @ObservedObject var data: Data = Data()
    internal let inspection = Inspection<Self>() //for testing UI

    var body: some View {
        VStack() {
            Spacer()
            if data.isThis {
                AnyView(SampleView(text: "test1", colour: .gray))
                Spacer().frame(height: 10)
            }

[2020-11-04 11:47] bukira opened #56 "Tuple issue"
I have the same issue
my structure is as follows

[code]

so :`let text = try view.vStack().anyView(3).view(SampleView.self).text().string()`
works and text = "test 3"

however I can't access the other 2 SampleViews as they are Tuples

[code]

so how do I access the tuple at vStack index 1? and 2?

[code]

`notSupported : "Unable to extract AnyView: please specify its index inside parent view"`

[2020-11-07 10:42] nalexn commented on #56
Hey @bukira

Thanks for reporting this. Usually `TupleView` is unwrapped automatically so you don't have to do anything special. However, you have found an edge case when this does not happen. Thus I've released an update (v0.5.1) which introduces `.tupleView( index )` for inspecting such hierarchies:

[code]

[2020-11-07 10:42] #56 closed

[2020-11-13 01:58] davidakoontz commented on #22
I've found a similar issue: No such module 'ViewInspector'
Reading this thread I Switched Schemes in XCode to the ViewInspector > iPhone 11 Pro
Then ran the build and the test ran... XCode at some point switched the Scheme back to my Project's Scheme to run the test.
Seems to run - but not a different issue.

[2020-11-13 02:06] davidakoontz opened #57 "Type mismatch: PlayerRowView is not HStack || but it is."
I just installed ViewInspector in my project (via SPD) ViewInspector 0.5.1. in XCode 12.1

[code]

my XCTestCase...

[code]

caught error: Type mismatch: PlayerRowView is not HStack

What am I missing about parsing the view hierarchy?

[2020-11-13 02:56] davidakoontz commented on #57
OK - resolved my issue - and YES - it was ALL me.

I just finished a TDD course with James Grenning https://wingman-sw.com - and by watching his process very closely and comparing it to mine... well - he moves in tiny steps - verifies that each step compiles/links/works before moving on to the next one.  So I decided to apply that method to my testing of PlayerRowView...

I thought - heck - I've n

[2020-11-14 11:08] nalexn commented on #57
Hey David, I did check the podcast you were on and got lots of gotchas where the confusion comes from when using the library (thanks!), so I know there I should put more descriptive error messages. As for the place where you stuck, you almost got it right - for inspecting the `PlayerRowView` inside the `ContentView` you need to use `.view(PlayerRowView .self)` in the chain. You typed `.view()` at

[2020-11-14 18:06] davidakoontz commented on #57
Thanks for the note Alexey.  I’m writing about my TDD experiences with Swift https://www.theswiftdojo.com/XCTestFramework <https://www.theswiftdojo.com/XCTestFramework> and I’m sure to write more about ViewInspector.

I once worked with 4 team’s doing a VoIP product… short story we developed about 80% of the UI - before we could make a phone call - the teams were mad/confused… the PO was smart - s

[2020-11-25 18:37] Alexander-techIOS commented on #52
Just checking in on this. Since Xcode 12.2 is now officially released. I have managed to install ViewInspector into the project. But when running new Unit Test build I get this error:

[code]

[2020-11-25 18:42] nalexn commented on #52
@Alexander-techIOS I believe this is a different issue, could you check if you linked the library with the test target only, and not with the main target?

[2020-11-25 18:47] Alexander-techIOS commented on #52
Thanks for the response. I installed it with spm and then added ViewInspector to each test target build (under Frameworks)

[2020-11-25 18:53] Alexander-techIOS commented on #52
Nvm my comment, it's working. Didn't have to manually add ViewInspector to each build target. It's working now

[2020-11-25 18:54] nalexn commented on #52
Now many test targets do you have? I can think of multiple test targets if you have UITestCase target (which is useless for SwiftUI as of now), but usually, there are just two: the main build target and the test target. Could you re-assure you haven't checked in the main target.
--
Yep, let me know if it works eventually

[2020-11-25 19:00] Alexander-techIOS commented on #52
Sure let me just clean it up a bit

[2020-11-25 19:39] Alexander-techIOS commented on #52
Ok so I've cleaned it up a bit. I created a new Test target. Managed to import ViewInspector fine. Then I created a simple test to test that the Tests work.. lol

Then I copied a test from your README (testVStackOfTexts), if I run this test I have a compile error:

[code]

So regarding your earlier question. I have multiple builds for the project one prod, 1 training and 2 development builds.

[2020-11-25 20:24] nalexn commented on #52
Again, some sort of linking issue. Try creating a new project and linking ViewInspector with its test target - make sure the simple test passes. Then get back to your setup and try integrating from scratch, making sure there are no signs of ViewInspector left for the build targets, and clear out DerivedData.

[2020-11-25 20:27] Alexander-techIOS commented on #52
Yea I'll do that.. ViewInspector went out of scope now.. Xcode...

[2020-11-26 14:52] Alexander-techIOS commented on #52
Just for some closure. All is working. Can also access StateObjects, but need to implement didAppear block in the target view, and only Assert in the didAppear block in test target.

Thanks for this framework! I only have just started digging into it will maybe reach out for more complex tests.
Is there way to take a snapshot of the sut?

[2020-11-26 14:57] nalexn commented on #52
By snapshot, do you mean rendering view onto an image? This is not supported directly, but I'd try wrapping sut in `UIViewRepresentable` and calling `drawViewHierarchyInRect(, afterScreenUpdates: true)`

[2020-11-26 15:00] Alexander-techIOS commented on #52
Awesome I will try it out

[2020-11-30 22:28] nalexn commented on #33
For future reference: this has been addressed in #56, while `.viewBuilder()` will be deprecated in the coming version

[2020-12-01 18:10] Alexander-techIOS commented on #29
HI @nalexn , I have a similar issue I made a MockView:

[code]

This is the test:

[code]

I got the extension InspectableView from your tests in the example.
This is the first test. Ideally I want to test the CustomView.
I keep getting the error `failed - Please use 'navigationBarItems()' for unwrapping the underlying view hierarchy.`

The MockView does not have the NavigationView wrapper, delibe

[2020-12-01 18:43] nalexn commented on #29
@Alexander-techIOS did you try swapping these two lines in the view?

[code]

I'm working on more informative error messages right now, so I'll have a look at this case also.

[2020-12-01 18:50] Alexander-techIOS commented on #29
Thanks Nalexn, great work on framework!

I tried your suggestion above but it's still the same.

[2020-12-01 19:44] nalexn commented on #29
@Alexander-techIOS

Let me show how I got to a working test:

1. I started with a simple inspection code like this:

[code]
It throws a warning `Please use 'navigationBarItems()' for unwrapping the underlying view hierarchy`

2. I revisit the code with this:

[code]
And I get a new message: `Please substitute 'ZStack<TupleView<(VStack<TupleView<(Text, CustomView)>>, NavigationLink<Text, Text>)>>.s

[2020-12-01 19:48] Alexander-techIOS commented on #29
Ah I see. Yes I did get that, but wasn't sure if I did something wrong.

Noted I need the exact type.

Thanks!

[2020-12-01 23:19] Alexander-techIOS opened #58 "Inspecting Custom UIViewRepresentable UITextField"
I would like to find out how to `setInput(:)` for a UIViewRepresentable UITextField, if it's possible? Is there a way for my custom textfield to conform to your TextField ViewType so that `input` and `setInput` is exposed?

EDIT:
I am referencing the custom TextField in this way:
`try view.geometryReader().hStack().view(DropdownUITextField.self, 1).textField()`

I get this error: `Fatal error: bod

[2020-12-04 00:53] smartcat32 opened #59 "How can I inspect a Map?"
[code]

I'd like to verify the Map is showing the region I gave to the MapViewModel (the center lat/lng and span) in my unit test.
sut.inspect().Map()  // no member 'Map'.

Are the new SwiftUI views of iOS 14 not supported yet?

[2020-12-04 10:32] nalexn commented on #59
Hey @smartcat32 , the `Map` and `MapAnnotation` views have fallen out of my scope because they were defined outside of the SwiftUI framework. I'll add them in one of the coming versions.
I wonder how can I scan all the iOS SDK frameworks for such one-off `Views`...

[2020-12-04 11:01] nalexn commented on #59
I figured out that the easiest way to find all SwiftUI - companion frameworks are by looking into the iOS SDK content in Xcode's folder.
Here are the extensions for Xcode 12.2 that can be imported and explored right in the Xcode:

[code]
I'll update the [reference](https://github.com/nalexn/ViewInspector/blob/master/readiness.md) to reflect the currently not implemented SwiftUI APIs

[2020-12-04 12:04] nalexn commented on #58
@Alexander-techIOS for any `UIViewRepresentable` you can access the underlying UIKit view by calling `.view(DropdownUITextField.self).actualView().uiView()`. After that, you can set the text directly onto it.

[2020-12-08 14:27] Alexander-techIOS commented on #58
Awesome thanks! Apologies for the late response.

[2020-12-08 14:27] #58 closed

[2020-12-08 14:59] Alexander-techIOS commented on #37
Not sure if creating a new ticket was the best option but since my query is related to this regarding nested interfaces.

I have a custom SwiftUI view (not UIViewRepresentable) it is presented on a state.

[code]

Triggering the that `displayInformation` is easy with `ViewInspector` via `.button().tap()` but there is an issue where the viewModel is reinitialized.

`Information` has viewModel as `@

[2020-12-08 15:06] nalexn commented on #37
@Alexander-techIOS I bet the problem in your case is that `@StateObject` is not yet officially supported by the library. I just didn't have time to get to it. This ticket is rather about the dynamic view lookup.

[2020-12-08 15:13] Alexander-techIOS commented on #37
@nalexn Ah I see I see, yes I remember your docs somewhere pointing that out. It is working on one view, the moment it passes to another view it changes. So I guess in my mind I flagged it as it's working! haha.

I must say I absolutely love your framework. When I get more familiar with SwiftUI and how your framework works, I would be very interested in contributing and helping out.

[2020-12-10 08:32] virusnik opened #61 "How I can inspect @EnvironmentObject"
I have redux architecture on project and I use store
[code]
and than I use it on View

[code]

After when I write test for example:

[code]

I have an error on build VIew:

`Thread 1: Fatal error: No ObservableObject of type Store<AppState, AppAction> found. A View.environmentObject(_:) for Store<AppState, AppAction> may be missing as an ancestor of this view.`

How I can resolve it?

[2020-12-10 09:08] nalexn commented on #61
Hey @virusnik , please follow [this section](https://github.com/nalexn/ViewInspector/blob/master/guide.md#views-using-state-environment-or-environmentobject) in the guide for inspecting views with `EnvironmentObject`

[2020-12-10 11:10] virusnik commented on #61
@nalexn  please can you describe more information about it, for example, use this Store, because I do not understand how it's works right with this Store.

[2020-12-14 16:12] joemasilotti opened #62 "Nested EnvironmentObject"
Is it not possible to test a nested `@EnvironmentObject`? The following view works when running in the simulator.

[code]

But the following test fails.

[code]

[2020-12-14 19:46] SumoSimo opened #64 "Is there a way to identify a view of any type in a SwiftUI view hierarchy given some constraint?"
Hi there.

So I know there exists a way to inspect the view hierarchy for a particular UI component by specifying the view hierarchy explicitly, such as `try view.inspect().vStack().button(0)`. However, to avoid exposing implementation details of the view hierarchy in my tests, I'd instead like to determine if there exists a UI component within a view hierarchy that matches some constraint.

For e

[2020-12-14 23:44] joemasilotti commented on #64
#37 might be interesting to you!

[2020-12-15 10:54] nalexn commented on #64
I have a working prototype of this feature and plan to complete it within 2 weeks, stay tuned!

[2020-12-15 13:32] joemasilotti commented on #64
This is great news! I'm in the middle of writing a blog post for Masilotti.com about ViewInspector. Happy to hold off until this is complete.

[2020-12-15 15:08] SumoSimo commented on #64
Looking forward to it!

[2020-12-17 22:33] cfilipov commented on #64
Just wanted to share another use case where this would be incredibly useful: in an app where you need to use a custom font everywhere this could be used to find instances where the default system font slipped through.

[2020-12-19 11:23] nalexn commented on #62
I confirm this is currently not supported. You can test the nested view independently, but not as part of the parent hierarchy. This is a very annoying limitation, I know, looking for a way to work around it.

[2020-12-19 13:38] nalexn commented on #64
Gentlemen, I created a [discussion](https://github.com/nalexn/ViewInspector/discussions/65) of the API for this feature, you're welcomed to provide your feedback.

[2020-12-19 19:14] joemasilotti commented on #62
Got it, thanks for the quick response!

Would you like me to leave the issue open or mark it down in the README somewhere? Maybe a new "limitations" section?

[2020-12-19 23:09] nalexn commented on #62
Let's leave the ticket opened

[2020-12-20 11:14] nalexn commented on #61
I couldn't verify exactly your case, because you haven't provided a sufficient amount of code for your example to compile: I don't have the `Reducer`, the full view, "SomeView", etc, but here is the conceptual part of the test:

[code]

[code]

[2020-12-20 11:17] #52 closed

[2020-12-20 11:19] #57 closed

[2020-12-28 11:59] nalexn commented on #37
Released in v0.6.0

[2020-12-28 11:59] #37 closed

[2020-12-28 11:59] nalexn commented on #64
Released in v0.6.0

[2020-12-28 11:59] #64 closed

[2021-01-02 17:55] nalexn opened #68 "How to inspect a view that takes a closure"
Moved [discussion](https://github.com/nalexn/ViewInspector/discussions/67).

I have a view with the following

[code]

I cannot figure out how to inspect it live here is the test case but I get the error the "Generic parameter 'LinkView' cannot be inferred

[code]

Any help would be appreciated.

[2021-01-02 18:02] nalexn commented on #68
@rlegault33

You should insert a concrete generic parameter of your view, for example, `EmptyView`:

[code]

Also, instead of writing `do { } catch { }` you can simply annotate the test function with `throws`. See the [guide](https://github.com/nalexn/ViewInspector/blob/master/guide.md#the-basics).

[2021-01-02 18:02] #68 closed

[2021-01-02 19:11] rlegault33 commented on #68
When I try I get the error Cannot find 'EmptyView' in scope.

    try view.inspect().view(FileLinkView<EmptyView>.self) < == error Cannot find 'EmptyView' in scope.

Thanks for the throw suggestion. I was using that but took it out temporarily to simplify the above code to one line that needed fixing.

[2021-01-02 19:17] nalexn commented on #68
Try adding `import SwiftUI`

[2021-01-02 19:22] rlegault33 commented on #68
That did it.
Thanks.

add:

     import SwiftUI

change line to

    try view.inspect().view(FileLinkView<EmptyView>.self)

[2021-01-05 20:42] cfilipov opened #69 "Dynamic query not finding view when there is conditional content"
Given the following view:

[code]

This test will fail

[code]

`find` and `findAll` will not locate the `Text` view.

Manually inspecting the view hierarchy explicitly under the HStack like this will work: `view.inspect().findAll(ViewType.HStack.self).text(1)`. But of course that defeats the purpose of dynamic query.

If you comment out the conditional before the `Text("Foo")` the test case will

[2021-01-06 19:24] nalexn commented on #69
Thank you for finding this, @cfilipov ! I'll roll out a fix with the next version soon

[2021-01-07 15:37] cfilipov opened #70 "More granular font introspection"
Currently, it seems the only way to inspect font properties is by an actual instance of `Font` as demonstrated in the guide.

[code]

Imagine the design team you are working with has specified that all text in the app should use the Gotham typeface instead of the system font. One might use ViewInspector to automatically highlight all text that is not Gotham so that it stands out during testing. In

[2021-01-08 09:35] nalexn commented on #70
@cfilipov I'll add an extension to the `Font` that allows for extracting the name, size, and TextStyle

That's what's stored inside a custom `Font` struct:

[code]

[2021-01-17 20:31] nalexn commented on #70
Released with v0.6.1

[2021-01-17 20:31] #70 closed

[2021-01-17 20:32] nalexn commented on #69
Fixed in v0.6.1

[2021-01-17 20:32] #69 closed

[2021-01-18 09:45] nalexn commented on #44
@integer256 with the recent release of the aforementioned dynamic query I can outline what is technically available now.

To begin with, each view in the hierarchy now can be located dynamically with `find` function, and after that, by calling `pathToRoot`, you can get a string representing the full inspection chain that leads to this view. For example:

[code]

The path can be used in place of `f

[2021-01-18 13:22] integer256 commented on #44
@nalexn That is great news! Thanks for the update.

I can imagine that would be helpful to have a method to print a human-readable view structure, as an intermediate step of writing the final test. Given that, due to the complexity of the hierarchy, sometimes it's difficult to inspect the correct view.

The new `find` function already simplifies the process of writing test a lot!

[2021-02-11 17:23] SumoSimo opened #77 "Issue with environment object - Fatal error: No ObservableObject of type TestViewModel found."
Hi nalexn, I'm running into an issue with a test involving an environment object. You can see the test below and associated modules. I followed approach 2, and I'm not sure what the issue could be.

[code]

[code]

[code]

I've also tried using `TestViewModel` instead of `MockTestViewModel` in the test to no avail.

[2021-02-15 11:56] haemi opened #78 "ARM64 - M1/Silicon issue?"
I only added this lib to my project (via SPM) and now when I try to build I immediately get

<img width="1655" alt="CleanShot 2021-02-15 at 12 55 16@2x" src="https://user-images.githubusercontent.com/183958/107943552-295d8a00-6f8d-11eb-9a5e-6b7ea1baed2e.png">

is this a (known?) issue regarding M1/silicon architecture (which I'm using)?

[2021-02-15 12:12] haemi commented on #78
First I made a mistake and didn't add it to the test target (sorry, I know it explicitly states otherwise).

But now I did, and as soon as I try to use `inspect()` I still get arm64 errors...

[2021-02-15 12:12] haemi commented on #78
<img width="425" alt="CleanShot 2021-02-15 at 13 12 24@2x" src="https://user-images.githubusercontent.com/183958/107945124-75a9c980-6f8f-11eb-9415-040e9511c5e6.png">

[2021-02-15 12:49] #78 closed

[2021-02-16 16:11] arkulpaKonstantin opened #79 "Error while testing a UIViewRepresentable"
Hello everyone,

I encountered some issues the passt days testing a `UIViewRepresentable`.

The `UIViewRepresentable` I tested is a simple wrapper around `UITextField` with support for switching the `isSecureTextEntry` property and is called `SecureToggleTextField`.

The error happened when I want to extract the UIView form the `SecureToggleTextField` via:
[code]
The error message reads: `caught e

[2021-02-16 23:04] krissmi opened #80 "Error compiling unit tests on macOS"
Hello,

I've experiencing an issue writing SwiftUI unit tests on macOS 10.5.7 and 11.2.1, Xcode Version 12.4 (12D4e).

A simple view:

[code]

with a simple test case:

[code]

fails to compile with the error:

[code]

So, I cloned the repository and discovered those struct's are not being marked unavailable or ignored for macOS builds.

I think the lines with:
[code]

Should be:
[code]

To test t

[2021-02-20 11:24] nalexn commented on #80
@krissmi

The compiler should understand the `@available(iOS 14.0, tvOS 14.0, *)` annotation even when building for macOS, so I doubt this is the issue.

I copied your exact sample code and it was compiling and tests run successfully on M1, macOS Rosetta and macOS Catalyst.

I'm thinking this error might be caused by the integration - if you're using Cocoapods see if removing `use_frameworks!` fix

[2021-02-20 11:33] nalexn commented on #79
@arkulpaKonstantin

SwiftUI does not boot UIKit contents until the view is present on the screen. This means synchronous tests won't work - you need to host the view on screen and use [asynchronous tests](https://github.com/nalexn/ViewInspector/blob/master/guide.md#views-using-observedobject) instead, like [here](https://github.com/nalexn/ViewInspector/blob/3e7d80d5145a69a3b7e43aa102e8e75f58760368

[2021-02-23 16:15] hmeadow opened #85 "Capsule does not have 'offset' attribute"
When attempting to get the offset off of a Capsule shape we receive the error that 'Capsule does not have offset attribute'. Looking at your examples. it appears this should work. Thoughts?

[code]

[code]

[2021-02-24 09:06] krissmi commented on #80
Cool.  I'll try the optional link target first then the test project.

[2021-02-24 09:18] krissmi commented on #80
It works!  with the following project changes (we are not using cocoa pods):
- Link `SwiftUI.framework`, optionally.
- Version 0.63

[2021-02-26 10:22] vegiwoo commented on #80
I confirm that the project is not building after installing the package via SPM
⚠️ Could not find or use auto-linked library 'XCTestSwiftSupport'
⚠️ Could not find or use auto-linked framework 'XCTest'
🔴 Undefined symbol: _OBJC_CLASS_$_XCTestExpectation
🔴 Undefined symbol: __swift_FORCE_LOAD_$_XCTestSwiftSupport
🔴 Undefined symbol: XCTest.XCTFail(_: Swift.String, file: Swift.StaticString, line: Sw

[2021-02-26 10:24] nalexn commented on #80
@vegiwoo try the optional linking of `XCTest.framework` for the test target

[2021-02-26 10:27] vegiwoo commented on #80
Errors are gone, thanks

[2021-02-26 10:42] vegiwoo commented on #80
duplicate output file '/Users/vegiwoo/Library/Developer/Xcode/DerivedData/MY_APP_NAME-cvtzkjtemtgplpdwhimqdjxhffmv/Build/Products/Debug-iphonesimulator/MY_APP_NAME/Frameworks/XCTest.framework' on task: PBXCp /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Library/Frameworks/XCTest.framework /Users/vegiwoo/Library/Developer/Xcode/DerivedData/OTUSCourse_Homewo

[2021-02-27 10:12] nalexn commented on #85
Hey @hmeadow

SwiftUI offers two `offset` functions: one for an arbitrary `View`, and another one for the `Shape`.

When you apply `offset` to an arbitrary `View`, the result is `some View`.

When you apply `offset` to a `Shape`, the result is still a `Shape` - SwiftUI incapsulates the applied modifier inside the view structure.

ViewInspector also offers two `offset` functions for unwrapping the

[2021-02-27 10:27] nalexn commented on #80
@vegiwoo you may need to closely inspect your target and remove another instance of the XCTest.framework. Experiment with removing the reference to this framework, and don't forget to clear the DerivedData

[2021-03-01 05:51] Tyler-Keith-Thompson opened #87 "`Find` causes @EnvironmentObject crashes"
If you're using the find functionality so search for something in the view hierarchy *after* something with an environment object thar be crashes. I tried for about 3 hours to dig into this and understand the different between calling `view(Type.self)` (which works) vs `find(Type.self)` but it's honestly gonna take longer to understand all of the inner workings of the library. Here is a test that

[2021-03-01 05:53] Tyler-Keith-Thompson opened #88 "EnvironmentObject help"
Sorry for the multiple issues opened at once, but this one has been a head-scratcher for me. So if you've got views that nest views using environment objects the `ViewHosting.host(view.environmentObject(object))` trick doesn't work. Any nested view that *also* requires environment objects doesn't get it.

I have a feeling (after trying to dive into this) that you're just limited by what Apple allo

[2021-03-01 09:15] nalexn commented on #88
Hey, yes, this is a known #62 issue, sorry about that. You're right, environment object isn't automatically injected into the whole hierarchy, SwiftUI seems to be doing it individually for every view. I do have a couple of ideas for how to work around this limitation, in the meanwhile, I recommend testing such custom views separately.

[2021-03-01 14:12] Tyler-Keith-Thompson commented on #88
Gotcha, I'll close this since it's a duplicate issue. Thanks for the quick response.

[2021-03-01 14:12] #88 closed

[2021-03-04 20:19] hmeadow commented on #85
Hi @nalexn - Thanks for your reply! Unfortunately, your first suggestion did not work. However, we found that having `offset` as the first modifier (before `frame` and `fill`) worked out. Thanks so much!

[2021-03-05 17:57] stuffmc opened #89 "Live Preview stops working when adding ViewInspector as a Swift Package"
[code]

[2021-03-05 22:08] stuffmc commented on #89
FYI: For now, we found a way to add the Swift Package only for the test target, where the Live Preview doesn't run.

[2021-03-06 19:08] nalexn commented on #89
Interesting, I have several other people reporting issues around `XCTest.framework` - it's either "missing", or now it got linked for previews. I wonder if the recent Xcode updates changed the way the library gets added through SPM because there were no such issues for a year. I have a reference [sample project](https://github.com/nalexn/clean-architecture-swiftui) for which has ViewInspector adde

[2021-03-07 21:07] copa commented on #89
You can get around the error by selecting your test target while adding the package. Unfortunately afaik you can't change this later. In that case you need to re-add the package.

<img width="729" alt="Screenshot 2021-03-07 at 22 03 51" src="https://user-images.githubusercontent.com/900594/110254808-0ffa9d00-7f91-11eb-9edc-9db51a03f01c.png">

[2021-03-07 21:18] stuffmc commented on #89
Worth filing a bug report @ Apple for that, @copa
@nalexn: I'd still expect the library to not need that work around, but at least this ticket left open will give a workaround to people.

[2021-03-08 14:11] davdroman opened #92 "Xcode 12.5 Beta 3 | AttributeGraph: cycle detected through attribute XXXXXX"
I'm having a crash in some unit test code I've had in my codebase for many months now. The issue seems to be consistently ocurring in Xcode 12.5 Beta 3, whilst I've never had it happen in Xcode 12.4 and previous versions.

The approach taken for these unit tests is using ViewInspector through the [Approach #2](https://github.com/nalexn/ViewInspector/blob/master/guide.md#approach-2) method (inspect

[2021-03-09 18:17] davdroman commented on #92
Additional info: seems to be only happening on iOS 14.5 Simulators. Tried on 14.0.1 and everything's fine, which leads me to think it's an issue introduced with some of the changes in the SwiftUI binary bundled into 14.5.

[2021-03-13 10:46] d4rkd3v1l opened #93 "SwiftUIFlux, ConnectedView, @EnvironmentObject: "A View.environmentObject(_:) for Store<AppState> may be missing as an ancestor of this view""
Did anyone ever try to test [ConnectedView](https://github.com/Dimillian/SwiftUIFlux/blob/master/Sources/SwiftUIFlux/connector/ConnectedView.swift)s from [SwiftUIFlux](https://github.com/Dimillian/SwiftUIFlux) with `ViewInspector`?

I always end up with following error in [StoreConnector](https://github.com/Dimillian/SwiftUIFlux/blob/39b885558fdee277f7ca2a8c81900123e9bc436f/Sources/SwiftUIFlux/con

[2021-03-13 10:54] nalexn commented on #93
Hey, yep, this is a known issue, and the fix is about to roll out.

[2021-03-13 21:21] nalexn commented on #93
I've just released v0.7.0 which fixes the "No ObservableObject of type found" error. I see you have something else here.

There is a `StoreConnector` view from `SwiftUIFlux` that stands on your way to unwrap the inner hierarchy.
You'd need to add this extension in the test scope:

[code]

Also, you don't need to explicitly unwrap `.view(StoreConnector<AppState, TimerView>.self)`, simply do `try vi

[2021-03-13 21:22] #85 closed

[2021-03-13 21:24] nalexn commented on #61
I assume you found the solution. Feel free to reopen as needed

[2021-03-13 21:24] #61 closed

[2021-03-13 21:27] nalexn commented on #62
This just got fixed as of v0.7.0

[2021-03-13 21:27] #62 closed

[2021-03-13 21:29] nalexn commented on #77
Sorry for the long response, this just got fixed as of v0.7.0

[2021-03-13 21:29] #77 closed

[2021-03-13 21:29] nalexn commented on #87
This just got fixed as of v0.7.0

[2021-03-13 21:29] #87 closed

[2021-03-14 07:25] d4rkd3v1l commented on #93
Thx for your quick follow up.

I updated to 0.7.0 and applied your suggested changes -> still same error.

As far as I understand the `ViewInspector` code, the injection of the `EnvironmentObject` should happen in [ModifiedContent](https://github.com/nalexn/ViewInspector/blob/29771131e40b009232afc8d94d626d73081817bf/Sources/ViewInspector/SwiftUI/ModifiedContent.swift#L81) which should be called fr

[2021-03-14 14:11] nalexn commented on #93
Ok, I forgot to add something in the 0.7.0, thanks to you now it's really fixed in 0.7.1. I did check that with your repo, and the test passes (although you need to change the searched text from "Start" to "start" - a typo)

[2021-03-14 14:38] d4rkd3v1l commented on #93
Awesome 🤩 Thx, man!! Great support! 😀

Works like a charm... So guess it's time to write a ton of view tests now 😊

*typo was due to using `LocalizedStringKey`s which seem not to be resolved in the view, but that's just fine for me. I think actually `String`s automatically bridge to `LocalizedStringKey`s in SwiftUI normally, but as said, it's alright :-)

[2021-03-14 14:38] #93 closed

[2021-03-14 22:35] SumoSimo commented on #77
@nalexn Good to hear. Thanks!

[2021-03-23 14:48] haemi opened #94 "Is it possible to inspect UIAlertControllers/actionSheets?"
I would like to test the appearance of an actionsheet after a button tap - but as the corresponding UIAlertController is not part of the view hierarchy, I cannot `find` it... is there a way to inspect it nevertheless?

[2021-04-05 17:40] adamzarn opened #96 "How can I find a custom view at a particular index?"
If I want to verify that there is a `Text` view at the ith position of an `HStack`, I can find it like this:
[code]

How can I do this with a custom view? It'd be nice if you could do something like this:
[code]

[2021-04-09 14:52] Tyler-Keith-Thompson commented on #96
We ran into this, ideally there'll be a for reals feature added to the library but here's a hack for you in the interum:

[code]

[2021-04-09 15:06] nalexn commented on #96
@adamzarn

Given your example, there is an API for extracting custom view at index:

[code]

The above is for intention to extract "i"-th child of HStack, which has to be `CustomView`.

In @Tyler-Keith-Thompson example, the intent is different: find  "n"-th view of this type in the entire hierarchy.

There is a way to achieve it without the extension, simply use `findAll` and unwrap the view at th

[2021-04-09 17:52] Tyler-Keith-Thompson opened #98 "Depth-First Throwing Search"
Heya, I've got a feature request:

Can we get a `Find` API that does a depth-first search and throws when an index is not there? `FindAll` is a workaround but having an array access fail is not nearly as nice in tests as having an error get thrown, like we do with most of the ViewInspector API

[2021-04-09 18:00] Tyler-Keith-Thompson opened #99 "Find (still) causes EnvironmentObject crashes"
So I had opened an [issue](https://github.com/nalexn/ViewInspector/issues/87) a while ago about how Find causes custom views to crash if they have an `@EnvironmentObject`.

It got closed as fixed but it's still very much crashing for `find`, for `findAll` and everything else I've tried. The only way to not have a crash is to directly tie your tests to your view hierarchy and use the `.view()` meth

[2021-04-09 18:01] Tyler-Keith-Thompson commented on #98
Also note: `findAll` causes crashes with environment objects currently, so it actually isn't a viable option for us.

[2021-04-11 18:18] nalexn commented on #98
@Tyler-Keith-Thompson I've extended the `find` API in `0.7.3` to take two additional parameters: `traversal` for toggling between depth-first and breadth-first algorithms, and `skipFound` that allows for skipping a few first matching views before returning the one you need. Let me know if that's what you expected.

[2021-04-11 18:19] nalexn commented on #96
I've extended the `find` API in `0.7.3` to take two additional parameters: `traversal` for toggling between depth-first and breadth-first algorithms, and `skipFound` that allows for skipping a few first matching views before returning the one you need. @adamzarn consider re-opening the issue if that does not help.

[2021-04-11 18:19] #96 closed

[2021-04-11 18:26] nalexn commented on #99
Sorry to hear that it still doesn't work for you. The crash originates from SwiftUI when the library tries to extract the body and the view is missing any `EnvironmentObject`. I added a check that throws an error with the details instead of allowing SwiftUI to crash. This will allow you to locate the issue, but the root problem is not in the `find` or `findAll` - one of the views you have in the h

[2021-04-11 18:40] Tyler-Keith-Thompson commented on #99
I can't inject an environmentObject on a nested view. The problem is like this
[code]

Test that crashes:
[code]

Test that works:
[code]

This is why I am blaming `find`. If I know the exact hierarchy (which unfortunately couples my tests to irrelevant code, like the VStack) then it works just fine, if I use `find` then it crashes. It's good that `find` now throws instead of crashes, at least my

[2021-04-11 19:18] Tyler-Keith-Thompson commented on #98
CocoaPods still doesn't seem to know the new version got released but I confirmed 0.7.3's API does precisely what I want and the control of depthFirst or breadthFirst is frankly fantastic. Thank you!

[2021-04-11 19:18] #98 closed

[2021-04-12 07:35] nalexn commented on #99
And you don't have to - the library is doing it now when you uncover the view from the parent. If your nested view is missing some other EnvObject that's not being used by the parent view - you'd need to add injection to the parent.

Copied and run your sample - it does not crash for me, I get the "Text I want to find" from the "find"

[2021-04-12 13:38] Tyler-Keith-Thompson commented on #99
Huh, you're right. As of 0.7.3 I don't have this problem. I really thought it was still an issue in 0.7.2. Regardless it definitely isn't now.

Thanks for all your very fast feedback! This library is likely to become pretty important to our company, so I've been trying to put it through its paces, we may not be able to inspect *everything* but we can get really far, your hard work is greatly appre

[2021-04-12 13:38] #99 closed

[2021-04-16 00:03] dented42 commented on #94
This seems like it might be related to #51?

[2021-04-19 22:01] adamzarn commented on #96
Thanks @nalexn, `.view(CustomView.self, index)` was exactly what I was looking for.

[2021-04-28 14:30] remover opened #102 "Segmentation fault: 11 in Xcode 12.4 when using ViewInspector compiled with Xcode 12.5"
ViewInspector version: 0.7.4 (installed via Carthage).
We pass an `XCODE_XCCONFIG_FILE` path as an env variable. The file has the following contents:

[code]

I'm getting `Segmentation fault: 11` in Xcode 12.4 when using ViewInspector compiled with Xcode 12.5.

I've reproduced the issue in a test project [ViewInspectorTest.zip](https://github.com/nalexn/ViewInspector/files/6392287/ViewInspectorTes

[2021-04-28 15:46] remover commented on #102
Sorry I added it via Carthage - statically compiled.

You mean you got the same build error as above?

[2021-04-28 15:51] nalexn commented on #102
I mean there are no errors, it compiles and tests run successfully. The latest version is `0.7.5`, though this should make much difference. From your logs I can assume the framework was compiled in a different version of swift or with certain flags that made it not compatible with the project. If you recently upgraded Xcode to 12.5 but the framework was compiled in 12.4 this may be the reason. Try

[2021-04-28 15:55] remover commented on #102
You mean you got the same build error as above?

We needed to update ViewInspector to support Xcode 12.5. It compiles fine in this context. However, since we're still on Xcode 12.4 it will fail on CI and for most of the team until they update to Xcode 12.5.

I'm wondering if there may be a backwards compatibility issue

[2021-04-28 16:02] remover commented on #102
updated the issue with the contents of our `XCODE_XCCONFIG_FILE`

[2021-04-28 16:08] nalexn commented on #102
Nah, the error was that it could not find the Framework at all. I would recommend to revisit your Carthage strategy, checking in the compiled frameworks in git is a bad practice - you'll be facing this exact problem all the time, where you have different machines running on different versions of Xcode but trying to re-use a pre-compiled framework. A way to fix it is to exclude the compiled framewo

[2021-04-28 19:36] 2inqui opened #103 "Click on alert button"
Hi @nalexn  do you know if it is possible to click on an alert view button

[code]

what I've tried

[code]

How do I click on the Got it! button?

[2021-04-29 10:51] nalexn commented on #103
Hey, I can see there is currently [no full support](https://github.com/nalexn/ViewInspector/blob/master/readiness.md#presenting-alerts) for inspecting the Alerts. I'll have a look if I can push it further

[2021-04-29 13:29] 2inqui commented on #103
Thanks for the confirmation and thanks for the project it really helps to test some basic functionality of the UI.

[2021-04-29 13:31] nalexn commented on #103
Sure! I'll re-open this ticket to serve as a reminder for myself and as a ref for others

[2021-04-30 09:42] pobengtsson opened #104 "Find().actualView gets type mismatch error"
Hi Alexey,

Thanks for all your work creating ViewInspector!

I have an issue using find together with actual view. Seemingly, when two views in a hierarchy have names that both starts the same, the following code results in a error.

given code like this:
[code]

The following line from the test code:
[code]
results in:
`failed: caught error: "Type mismatch: FooList is not Foo"`

I made a minimal

[2021-05-01 19:48] gili-labs opened #105 "Inspector.print Recurses Forever"
Ever have a problem with `Inspector.print(_:)` recursing forever?

I have the following view modifier:

[code]

And the following test:

[code]

`Inspector.print(_:)` recurses until the stack runs out.

I've been trying to debug this, and I think at some point the mirror has a child that is a reference to an ancestor. After spending the day on this, I thought I would post this issue and see if any

[2021-05-04 13:17] alexbasson commented on #103
Part of what's challenging about `Alert` is that, surprisingly, it isn't actually a `View`, i.e. it doesn't actually conform to the `View` protocol.

[2021-05-04 13:55] alexbasson opened #106 "Tapping on a disabled button still invokes its action"
Given the following code:

[code]

then following test code:

[code]

should not invoke `someAction`.

[2021-05-08 20:02] gili-labs opened #108 "Inspecting Custom View Modifiers Issue"
Consider the following ViewModifier:

[code]

And the following test:

[code]

Here's a result of running the test:

[code]

I've been chasing this for a couple weeks and cannot unravel this mystery.

Question #1, do you have any idea why the view generates the second instance of the label?

Question #2, do you have any idea why the second instance of the label has the root-to-path that it has?

Q

[2021-05-14 19:27] gili-labs commented on #108
I'm still drilling down on this problem.

At this point, I think the fact that I can do this is central to the problem:

[code]

The `HStack` contained by `InspectableTestModifier` is modified, but not by an `InspectableTestModifier` (wouldn't this infinitely recurse?), rather it is modified by `.onAppear`. However, I backed up to look at the inspected `HStack`. I inserted the following into the t

[2021-05-14 20:34] gili-labs commented on #108
I have a theory. Let me start with what lead me to the theory. In the same debug session, I dumped `body` and here's what I see:

[code]

I checked out the documentation:

I'm fairly certain this is why I can do do this:

[code]

I'm going to check it out, but I'm fairly certain that I can do this too:

[code]

[2021-05-14 20:39] gili-labs commented on #108
Tried this and it fails:

[code]

On some level I think this is a bug. However, I can't quite put my finger on it.

[2021-05-14 22:47] nalexn commented on #108
Hey @gili-labs

That's an interesting case. After debugging this a bit I consider this a bug in the library (actually two). Before returning the `body` to the inspection code the library has to unwrap the view, and it erroneously picks up the parent's `Medium`, which contains the `.modifier(InspectableTestModifier.self)`. This modifier gets inherited by `HStack` thus creating this phantom secondar

[2021-05-15 00:25] nalexn commented on #104
Hey @pobengtsson that's a bug, thanks for finding and reporting! Will be fixed in the coming update

[2021-05-15 08:30] nalexn commented on #103
The fact that `Alert` isn't a `View` is less of a problem, its structure is fully transparent and easy to access.
The problem is with the `.alert` modifier itself, as it does not store the `Alert` structure directly, and instead has the `transform` closure with several private SwiftUI types:

[code]

I can see one way to approach it (but I'm not a big fan of this) is by adding a new `.alert2` func

[2021-05-15 08:50] nalexn commented on #103
I think having that in the toolbox is better than nothing, I just need to come up with the name for this replacement modifier. Open for suggestions.

[2021-05-15 12:23] gili-labs commented on #108
There is one data point I neglected to share with you. This all started when I attempted to add support to InspectorEmissary for view modifiers. I completed this work and tested it successfully. However, I refactored the test for `ViewModifier.on` and the test failed, which led me to this problem.

Here is the entire InspectorEmissary file:

[code]

Here is the test that asynchronously inspects a

[2021-05-15 17:28] pobengtsson commented on #104
Great! Thanks @nalexn!

[2021-05-15 19:19] gili-labs commented on #108
I have created a PR to give you better visibility into what I'm seeing. I'm going to keep trying to drill down on this and figure out what's going on.

[2021-05-17 18:01] gili-labs commented on #108
I'm starting to think the best way to test view modifiers is in the context of a test view.

[2021-05-17 18:04] nalexn commented on #108
@gili-labs that might be the case. Sorry for being slow to respond - I'll go through the PR and reply as soon as I get time

[2021-05-17 18:38] gili-labs commented on #108
No problem, I continue to play with it. If anything, it gives me a deeper understanding of aspects of the framework that I haven't dug into yet.

[2021-05-20 18:31] 2inqui commented on #103
I'm not sure if I understood correctly but you want to add a alert2 modifier that will have to be used within the real implementation? if so I don't believe that having a dependency to a Testing library in your project its a good idea.

[2021-05-20 19:28] nalexn commented on #103
@2inqui yeah, at first I thought to make it part of the library, but quickly realized that making it a dependency for the main build target is a no-go for sure. So it'll be a small code snippet that would have to be added to the main build target, thus the name can be chosen by the user - either `alert2` or something else. Relatively small invasion to the source code for gaining testability

[2021-05-23 15:01] nalexn commented on #106
This is now fixed in v0.7.6. Thanks for the ticket and PR!

[2021-05-23 15:01] #106 closed

[2021-05-23 15:02] nalexn commented on #104
Fixed in v0.7.6. Thanks for the report!

[2021-05-23 15:02] #104 closed

[2021-05-23 15:06] nalexn commented on #103
The v0.7.6 added support for inspecting `Alert`. With a [few tweaks to the code](https://github.com/nalexn/ViewInspector/blob/master/guide.md#making-alert-inspectable), you should be able to access the Alert's buttons:

[code]

[2021-05-23 15:06] #103 closed

[2021-05-23 15:14] nalexn commented on #94
Thanks for the ticket! The v0.7.6 added support for inspecting `ActionSheet`. With a [few tweaks to the code](https://github.com/nalexn/ViewInspector/blob/master/guide.md#making-actionsheet-inspectable), you should be able to access the ActionSheet's content, including the `title()`, `message()` and `button(_ index: Int)`. `find` functions are now also able to traverse and locate the views inside

[2021-05-23 15:14] #94 closed

[2021-05-23 15:16] nalexn commented on #80
I consider this a resolved issue. Feel free to re-open or comment for further assistance.

[2021-05-23 15:16] #80 closed

[2021-05-23 15:16] #44 closed

[2021-05-23 15:20] nalexn commented on #51
The v0.7.6 added support for inspecting `Sheet`. With a [few tweaks to the code](https://github.com/nalexn/ViewInspector/blob/master/guide.md#making-sheet-inspectable), you should be able to access the `Sheet`'s content directly as well as using the `find` functions.

[2021-05-23 15:20] #51 closed

[2021-05-23 15:21] nalexn commented on #79
I consider this a resolved issue, feel free to re-open!

[2021-05-23 15:21] #79 closed

[2021-05-23 15:31] nalexn commented on #92
Hey @davdroman is this resolved for you with the release of Xcode 14.5?

[2021-05-23 15:37] nalexn commented on #102
I consider this a resolved issue. Feel free to re-open as needed.

[2021-05-23 15:37] #102 closed

[2021-05-23 15:39] nalexn commented on #105
As discussed in #110 and #108, we are in need for a non-recusrive approach for `ViewModifier` inspection

[2021-05-23 20:24] davdroman commented on #92
Seems like it @nalexn 👍  closing now.

[2021-05-23 20:24] #92 closed

[2021-05-26 03:52] Tyler-Keith-Thompson commented on #59
I've got a [branch](https://github.com/Tyler-Keith-Thompson/ViewInspector/tree/map-support) I'm working on to add support for Maps. Hoping to submit a PR in a couple of days

[2021-05-31 18:09] gili-labs commented on #108
@nalexn: I just tested the changes I made with `offset(_:)` and it works fine. I'm going to try `environmentModifier(_:)` and see if this fixes this as well.

[2021-05-31 18:15] nalexn commented on #108
Awesome, thanks @gili-labs ! I'm so jammed with the work, but I'll get to review your PR hopefully by the end of this week!

[2021-05-31 18:18] gili-labs commented on #108
No problem @nalexn. I've been banging my head against the wall for weeks trying to decipher this problem. Thankfully, we had a four day weekend and I had the time to tackle this.

[2021-05-31 18:20] nalexn commented on #108
You're doing an incredible job, thank you again!

[2021-05-31 19:41] gili-labs commented on #108
@nalexn: Do you have an example of this:

[code]

Where does `body(content:)` get `obj` from?

[2021-05-31 19:59] nalexn commented on #108
[Here](https://github.com/nalexn/clean-architecture-swiftui/blob/master/CountriesSwiftUI/UI/RootViewModifier.swift) is an example.

Actually, the implementation of this feature might be quite straightforward.
There is a view type that represents the `content` placeholder view in the `ViewModifier`: `ViewType.ViewModifierContent`.

So when the library unwraps a view and stumbles upon a custom `View

[2021-05-31 20:05] nalexn commented on #108
Hm, just noticed that the example I sent you doesn't really show the case. The env object could be supplied in the `init` of the `ViewModifier` and stored in a local var.

[2021-06-01 21:14] gili-labs commented on #108
Have to ask what `viewModifierContent()` returns? Is this the actual content passed into `body(content:)`? If so, why can't I inspect accordingly?

Let me provide an example view modifier:

[code]

In the below test, I would think that `content` would be a `Text("Monkey Wrench")`, and hence, the test should have access to the its value using the `string()` method. However, the compiler complains `

[2021-06-01 21:29] nalexn commented on #108
Hey, you cannot assume the `content` to be a specific view, like `Text`. It's a placeholder. In runtime, it remains a placeholder that tells SwiftUI: render in here the view to which the modifier is applied.
Thus, you cannot really inspect that placeholder, it's a stub with no meaningful data. But we can follow the same logic as SwiftUI's render engine and logically substitute there the outer view

[2021-06-01 21:38] gili-labs commented on #108
I think we need a method that will allow us to fetch an environment object "attached" to the content, much like the `environment` method.

[2021-06-01 21:41] nalexn commented on #108
If there is an attached environment objects to the `content`, it will also be collected in the `Medium` as you do `find` that `content` view.

[2021-06-02 16:21] gili-labs commented on #108
Very cool. I just tested this and the attached environment object is there. So, the changed I have committed to this PR should solve our problems with view modifiers.

[2021-06-08 04:17] jitendrakumawat29 opened #113 "App crash"
I have installed ViewInspector via pod. The app is crashing after build, so I am not able to run the app. I am using Xcode 12.4 and deployment target is iOS 14.1. Below is the error:
dyld: Library not loaded: @rpath/XCTest.framework/XCTest
  Referenced from: /Users/mySystemName/Library/Developer/CoreSimulator/Devices/C9381426-AD6A-48AA-8098-72D21BB61332/data/Containers/Bundle/Application/A9F576D1-

[2021-06-08 07:19] #113 closed

[2021-06-08 07:20] jitendrakumawat29 commented on #113
I found the solution in issue number #49

[2021-06-08 14:42] PappBalazs opened #114 "Missing debug information"
Hello there!

I just upgraded your library from 0.5.1 to 0.7.7

Let me attach 2 screenshots. Both have the same code, one is from 0.5.1 the other is from 0.7.7
As you can see in the debug window the "po" command (po buttonImage) worked nicely for the older version and it stopped working in the latest version. Now it says: "Execution was interrupted, reason: EXC-BAD_ACCESS".
Do you have any idea wh

[2021-06-13 11:35] nalexn commented on #114
What's quite a major upgrade (from 0.5.1 to 0.7.7) to easily tell you what are the changes causing this. I'll need you to either provide the essential part of the `WhatsNewView` you're testing, or try to localize the problem yourself by testing the image name in isolation. As far as I can see, the name is extracted correctly, so why do you need to `po` in this test anyways?

[2021-06-15 10:01] nalexn commented on #108
This is resolved now in v0.8.0

[2021-06-15 10:01] #108 closed

[2021-06-15 10:30] nalexn commented on #59
This is now available in [v0.8.0](https://github.com/nalexn/ViewInspector/releases/tag/0.8.0)

[2021-06-15 10:30] #59 closed

[2021-06-15 10:46] nalexn commented on #105
The v0.8.0 release does not eliminate the recursion, which is necessary for the other parts to work properly. I'll leave this open for now. The snippets updated for 0.8.0 are:

[code]

[code]

[2021-06-15 16:34] v-ahadke opened #115 "HStack count value returns wrong value"
We have few SwiftUI views in our codebase where we have some conditional checks which will decide whether to add view in HStack etc like below
[code]

To test above view, we have below test

[code]
But above test fails with ```XCTAssertEqual failed: ("2") is not equal to ("0")```. When we have title & subtitle value, ```XCTAssertEqual(hStack.count, 2)``` works correctly. Could you please have a lo

[2021-06-16 09:21] nalexn commented on #115
Hey @v-ahadke

SwiftUI has a special view type `ConditionalView` for wrapping constructions like

[code]

So when you ask `HStack` "how many views do you contain?", it actually says "2" because there are always two `ConditionalView` entities sitting there, regardless of the `if` statements inside of them.

So if you want to assure `HStack` contains exactly zero or one view, you actually have to tr

[2021-06-16 13:25] iDevid opened #116 "MapAnnotation build error"
Hi all! Our CI is giving an error with the latest version of ViewInspector 0.8.0 during the build:
[code]

[2021-06-16 13:31] nalexn commented on #116
Hey! Thanks for reporting! I'll have a look today

[2021-06-16 13:55] JinSeiBeats opened #117 "GeometryReader size is always y0x0"
I'm trying to test a view with a GeometryReader in it. But the size always stays 0.
[code]

[code]
Even with the frame the geometry reader always reports no size.

[2021-06-16 15:41] v-ahadke commented on #115
Thank you @nalexn. Now I understand the reason behind test failure. After updating the test by accessing view at index & asserting using throw as below works perfectly

```XCTAssertThrowsError(try hStack.text(0))```

[2021-06-16 15:41] #115 closed

[2021-06-16 19:12] nalexn commented on #117
Hey @JinSeiBeats ,

Yeah, this is a limitation of the library - there is currently no way to make `GeometryReader` report any size except for `zero`

[2021-06-16 19:21] nalexn commented on #116
This looks like an Xcode versioning problem. I'll download 12.4 to assure it compiles there.

[2021-06-17 10:45] nalexn commented on #116
You should be good now (v0.8.1)

[2021-06-17 10:45] #116 closed

[2021-06-17 10:45] iDevid commented on #116
Thank you for the fix!

[2021-07-06 08:00] PappBalazs commented on #114
This happens with all my custom views. Name is extracted correctly, and everything is working fine.
I have problem only when I want to use debug console to PO some view.

However I found the problem, I am not sure what we can do against this.
So in this example I try to `po buttonImage` and `Execution was interrupted, reason: EXC_BAD_ACCESS` occurs.

I am using `try view.inspect()` if I used `try?

[2021-07-10 20:23] orchetect opened #122 "Build failure with ViewInspector as a dependency of a package test target"
When working in a Swift Package Manager package in Xcode, adding ViewInspector as a dependency to a test target causes Xcode to fail to build that target.

[code]

[code]

Additionally, Xcode's log shows this:

[code]

The strange thing is that, without ViewInspector, `import SwiftUI` builds and works fine in both normal targets and test targets. As soon as you add "ViewInspector" as a dependency

[2021-07-10 20:28] orchetect commented on #122
This is the only hint I could find when Googling:

https://stackoverflow.com/questions/34704388/xctest-error-the-bundle-couldn-t-be-loaded-try-reinstalling-the-bundle

I tried adding minimum OS requirements to the package (which I would like to avoid, as I want to support older OSes and only conditionally add SwiftUI components which has worked great until now that I am trying to add ViewInspector

[2021-07-13 17:31] lucasfeijo commented on #22
I had the same issue described here. Switch to the ViewInspector target in the scheme dropdown, clean and build, then the tests will run.

[2021-07-13 17:51] lucasfeijo commented on #22
Figured it out. The dependency must be added by name to the test target too. Follow this pattern: https://stackoverflow.com/a/63223261/1346618

[2021-07-15 20:54] SumoSimo opened #123 "Simulate typing"
Hi there.

I'm wondering if it's possible to simulate typing in any sort of input field. As an example, it could be useful when testing that the entered credentials on a login form are correctly passed into the login flow that handles the network call.

Thanks!

[2021-07-15 21:24] nalexn commented on #123
Hey,

There is an API for that, for example, for TextField and TextInput you can use setInput(...). For DatePicker there is select(date: ...), etc. API reference: https://github.com/nalexn/ViewInspector/blob/master/readiness.md

[2021-07-16 00:33] SumoSimo commented on #123
Good to know! I'll make sure to use that reference the next time I go looking for something. Thanks!

[2021-07-16 01:44] SumoSimo commented on #123
So I just tried using `setInput(...)` using two approaches. The first was without using `View.host(...)`, and the second was with `View.host(...)` using the more flexible option. In both cases, the `@State` property in my view wasn't updated.

Is this the intended behavior, or am I missing something?

[2021-07-27 06:58] patrickbdev commented on #53
I was having problems using @StateObject for holding a reference to my ViewModel as well.
Switching to @ObservableObject resolved the issue (as mentioned by @nalexn's guide that @ObservableObject state changes can be observed synchronously).
I found this stackoverflow page useful in understanding the difference between @ObservableObject and @StateObject and as the following user mentioned, as long

[2021-07-31 09:56] patrickbdev commented on #123
@SumoSimo have you [read this section? ](https://github.com/nalexn/ViewInspector/blob/master/guide.md#views-using-state-environment-or-environmentobject)
Observing properties like `@State` require some refactoring.

[2021-07-31 10:02] patrickbdev commented on #122
@orchetect can you create a minimal example project and upload it?

[2021-07-31 10:18] patrickbdev commented on #114
@PappBalazs another solution is to wrap your expression in a `dump` i.e. `po dump(try screen.inspect())`.
This will however also produce `expression produced error: error: ...` at the end of the dump.
To prevent that you can also wrap it in a `do` i.e. `po do { dump(try screen.inspect()) }`.
I tested this with 0.8.1.
@PappBalazs are these solutions enough to close the issue?

[2021-07-31 10:26] patrickbdev commented on #89
Can confirm that it isn't an issue with ViewInspector itself.
If you try adding `import XCTest` anywhere in your app target you'll get the following in the build log:
[code]
Maybe this is expected behaviour on Apple's part to not allow linking of XCTest to the app target.

Regardless I don't see a need to add ViewInspector to the app target and believe adding it to the Test target is correct and n

[2021-07-31 10:29] patrickbdev commented on #29
@AXR-Tech feel free to close the issue if your problem is solved.

[2021-07-31 14:40] SumoSimo commented on #123
@patrickbdev I have read that section. I tried the second approach and still saw the issue occur.

[2021-07-31 15:28] patrickbdev commented on #123
@SumoSimo would you be able to upload a simple sample project?

[2021-07-31 22:11] orchetect commented on #122
Here is a barebones Swift Package that replicates the issue.

[VITest.zip](https://github.com/nalexn/ViewInspector/files/6911893/VITest.zip)

The package has appropriate minimum OS requirements for importing SwiftUI.

Build succeeds, but running the unit test produces the following console error. None of the logs have any further detail.

[code]

[2021-07-31 22:19] orchetect commented on #89
Could this be any way related to https://github.com/nalexn/ViewInspector/issues/122 ?

[2021-08-02 08:49] saltyskip commented on #29
Is there anyway to force the view to be AnyView for navigation bar items in the case of a complex stack as the rootview you might crazy long types in your test code

[2021-08-02 08:59] nalexn commented on #29
I've recently used another approach to work around a similar case with [unwrapping `Alert`](https://github.com/nalexn/ViewInspector/blob/master/guide.md#alert-sheet-and-actionsheet). We can introduce a substitute for `navigationBarItems` (`navigationBarItems2` for example) with exact same syntax and all, that would not require the type of the underlying view upon unwrapping. The downside is the sa

[2021-08-02 09:09] saltyskip commented on #29
i think the simpler approach is probably to just create a customView around the Vstack

[code]

becomes
[code]

where ContentView is a Vstack with a super complicated type signature

[2021-08-02 09:12] nalexn commented on #29
@saltyskip yeah, as of right now this is the way out. I'm rather thinking about a strategy to escape the type substitution at all.

[2021-08-02 13:04] nobre84 commented on #29
@nalexn oh, sorry for not getting back in here! The initial suggestions did fix the problems I had.
@patrickbdev since your post came in, some fresh discussion started so I'll hold on a bit more to close this, or @nalexn can be free to close it if you think we're done here. It seems to be a real pain point right now so it makes sense people are still having doubts about it.

[2021-08-03 19:02] wiemerm opened #125 "Support watchOS"
I can see that the resolution to #20 was to remove support for watchOS due to the lack of XCTest support when using Xcode 12.4 or earlier. However, since Xcode 12.5 we can now use XCTest with watchOS. Would like to see watchOS supported again.

[2021-08-04 12:37] PappBalazs commented on #114
@patrickbdev Yes, both the optional and the do { try { catch }} work

[2021-08-04 12:37] #114 closed

[2021-08-06 22:45] Richard-Gist opened #126 "callOnChange is not found on _ConditionalContent"
We have a view that looks like:
[code]

When we Host and inspect the view, we are unable to call `callOnChange` because the modifier cannot be found.

[code]

[2021-08-07 16:15] nalexn commented on #126
Hey, I've identifier the problem and will fix it this week.

[2021-08-07 16:16] nalexn commented on #125
I'll look into this, thanks!

[2021-08-07 19:06] nalexn commented on #126
[The fix](https://github.com/nalexn/ViewInspector/commit/d58fff9ee856bd226247b5d0d8ad8a9b7edccc7e). I'll bundle more work and then do a release

[2021-08-10 11:49] cameroncooke opened #127 "Assert `UIViewRepresentable` state when updating bindings from TestCase"
I'm really struggling to understand how to test a `UIViewRepresentable`, all my other tests are fine but the one test where I want to update the `State` values from the test and assert that the underlying `UITextField` is updated to reflect those states changes just won't work.

I've looked at other similar reported issues and all the documentation but I'm not really understanding the underlying i

[2021-08-10 23:07] Tyler-Keith-Thompson opened #128 "Xcode 13 Beta 5 issues"
Looks like the latest Xcode release (today) broke some ViewInspector code. As far as I can tell it's isolated to things with a `label()` or `labelView()`. I might spend a little time trying to dig into *why*, but I figured I'd report it as an issue.

[2021-08-12 16:40] cameroncooke commented on #127
Right, I think I worked it out, it's a bit involved due to two specific limitations:

1. You can't inspect the `uiView()` without waiting for the view to appear first so need to implement [Approach #1](https://github.com/nalexn/ViewInspector/blob/master/guide.md#approach-1) as detailed in the [Guide](https://github.com/nalexn/ViewInspector/blob/master/guide.md#approach-1).

2. Need to use a Publis

[2021-08-12 19:03] nalexn commented on #127
Hey @cameroncooke

Thanks for the feedback, I agree the project lacks such real-world examples and docs, my focus is really on the functionality still, catching up with the SwiftUI versions. The case with `UIViewRepresentable` really deserves better tooling, I can clearly see the problem here.

[2021-08-13 08:30] cameroncooke commented on #127
I agree around tooling, I think the issue here is that there are some intricacies with testing `UIViewRepresentable` views and about a million different ways of writing the tests but only one way works reliably in my experience, so ideally this would be abstracted away by the tooling so that mistakes can't be made the test site.

[2021-08-13 08:37] patrickbdev commented on #128
I noticed that from beta 2 as well. It's difficult to say whether the change is a permanent one or something that will revert once GM is released.

[2021-08-13 15:24] cameroncooke opened #129 "Checking for absent views"
I've created a function to aid determining if a view is absent to reduce boilerplate in test cases:

[code]

Used like:

[code]

This is useful when you've got views like:

[code]

Is there a simpler approach, I was hoping for something like:

[code]

But couldn't find anything. Would be a useful method to have in the library?

[2021-08-13 21:31] nalexn commented on #129
Hm, I'm usually using `XCTAssertThrowsError(try ...)`. Not super precise, as the expression may throw earlier and give a false positive (passing test when the entire `BackButton` is missing, for example).
I don't think Swift allows exception handling in the way you proposed: when `.button()` throws the subsequent function call is aborted by design. So wrapping the expression is the only way.

[2021-08-13 22:03] nalexn commented on #125
I've created a branch [watchOS](https://github.com/nalexn/ViewInspector/tree/watchOS) for this ticket. Not an easy one, due to quite a poor API design for presenting new view controllers in WatchKit.

[2021-08-18 22:57] nalexn commented on #128
There are quite some inner changes in SwiftUI shipped with iOS 15 beta, I've just updated most part in [0.8.2](https://github.com/nalexn/ViewInspector/tree/0.8.2)

[2021-08-19 09:16] gedaiu opened #130 "@State property is not updated after .tap()"
I tested the component in the app and it works fine, but the test fails because there state is somehow not updated even though the action is triggered. Any thoughts about what I am missing here?

[code]

[code]

[2021-08-19 09:21] gedaiu commented on #129
I wrote a small extension which could be included in the library

[code]

and use it like this:
[code]

[2021-08-24 13:47] nalexn commented on #29
I'm currently testing in Xcode 13.0 beta 5, and they seem to completely revamp the navigation modifiers in iOS 15. The good news is that they no longer mess with the global environment and use a simple `ModifiedContent` as a base, which promises full access to the navbar items inspection.

[2021-08-30 15:18] Tyler-Keith-Thompson opened #131 "Question: Testing presentationMode"
One of the ways to programmatically dismiss a view is by using: `@Environment(\.presentationMode) var presentation` then calling `presentationMode.wrappedValue.dismiss()`.

So if you've launched that view with a Binding of some kind, say you used `NavigationLink` with `$isActive`. When dismissed is called that binding does get set to false in production code. However I'm not sure ViewInspector tri

[2021-09-06 14:55] nalexn commented on #131
Hey, that is correct, the `@Environment(\.presentationMode)`, along with the new `@Environment(\.isPresented)` and `@Environment(\.dismiss)` are not updated nor are observed by ViewInspector because it doesn't have access to the EnvironmentValues store.

If you print a view with `@Environment(\.presentationMode)`, you'll see the variable:

[code]

Unlike `@EnvironmentObject` property wrapper, whic

[2021-09-06 15:01] nalexn commented on #130
Hey @gedaiu ,

The structure of your test has to be reworked. The `beforeEach` section should not have `self.wait(for: [exp], timeout: 0.3)` or `ViewHosting.host(view: subject)`, but only the setup code.

[2021-09-08 09:30] bukira opened #133 "failed - Search did not find a match. Possible blockers: RoundedRectangle"
I am trying to find something, in this case its an alert, but same applies to buttons or text

try view.find(ViewType.AlertButton.self, containing: "Allow").tap()

I get the error
"failed - Search did not find a match. Possible blockers: RoundedRectangle"

each view could be a different blocker, but always a blocker, how do I get around this ?

This seems to be the offending "RoundedRectangle" in

[2021-09-08 09:32] bukira opened #134 "system alerts"
How do I find system alerts to tap on them

I tried

let exp = sut.inspection.inspect(after: 0.1) { view in
 try view.find(ViewType.AlertButton.self, containing: "Allow").tap()
}

But it cant find this,

This alert is a system alert to allow push notifications

[2021-09-08 09:40] bukira commented on #133
I think its a red herring, just not very helpful as to what the blocker means,

try view.find(ViewType.Button.self, containing: "OK").tap()

This works and is able to find it, its the system alerts it couldn't find

[2021-09-08 11:02] nalexn commented on #134
Hey - the system alerts are not part of the app's main window hierarchy, they are presented in a separate one. In theory, you can access that hierarchy by finding the right window from `UIApplication` or `UIScene`, but I doubt Apple is using SwiftUI for system alerts, so you'll end up iterating over the UIKit views there.

[2021-09-08 11:04] nalexn commented on #133
I bet `RoundedRectangle` isn't registered for search in ViewInspector, I'll double-check and fix it. It is not intended to show up as "blocker", usually "blockers" are the custom views that do not conform to `Inspectable`

[2021-09-08 12:13] bukira commented on #133
Thank you very much for this and really helps me, how do I register "UIViewControllerRepresentable" as Inpsectable?

[2021-09-08 12:14] bukira commented on #134
Thanks, so basically. I just need to stop app during testing from presenting system alerts

[2021-09-08 12:44] nalexn commented on #133
Here is [an example](https://github.com/nalexn/ViewInspector/blob/master/Tests/ViewInspectorTests/SwiftUI/CustomViewTests.swift#L273)

[2021-09-08 12:48] bukira commented on #133
awesome

[2021-09-15 18:49] gscalzo commented on #128
Any plan for releasing 0.8.2?
(Congrats and thank you very much for this awesome library!)

[2021-09-15 19:05] nalexn commented on #128
Hey @gscalzo , it's coming, just need to brush up docs and wrap up the watchOS support

[2021-09-19 21:37] #126 closed

[2021-09-19 21:45] nalexn commented on #125
watchOS support added in [v0.9.0](https://github.com/nalexn/ViewInspector/releases/tag/0.9.0)

[2021-09-19 21:45] #125 closed

[2021-09-19 21:48] nalexn commented on #128
This is now fixed in [v0.9.0](https://github.com/nalexn/ViewInspector/releases/tag/0.9.0)

[2021-09-19 21:48] #128 closed

[2021-09-19 21:50] nalexn commented on #133
I consider this issue resolved. A promised fix for the `RoundedRectangle` being a blocker is deployed in [0.9.0](https://github.com/nalexn/ViewInspector/releases/tag/0.9.0)

[2021-09-19 21:50] #133 closed

[2021-09-19 21:51] nalexn commented on #105
This has been fixed in [0.9.0](https://github.com/nalexn/ViewInspector/releases/tag/0.9.0)

[2021-09-19 21:51] #105 closed

[2021-09-19 22:07] nalexn commented on #29
`navigationBarItems` modifier no longer block inspection in iOS 15.

ViewInspector [v0.9.0](https://github.com/nalexn/ViewInspector/releases/tag/0.9.0) has added support for `toolbar` inspection, which is the replacement for `navigationBarItems` (deprecated in iOS 15).

I consider the original issue resolved.

[2021-09-19 22:07] #29 closed

[2021-09-22 15:00] tarbayev opened #136 "Provide a throwing alternative to InspectableView subscript"
Currently it's not possible to verify optional views, as there's no public **throwing** accessor for `ClassifiedView` type at a given index.

I'd like to avoid overspecialization of my tests and just check the actual number of children in a container, e.g. `ZStack`, or if there is a view at a particular index.

In addition would be nice if the `count` property returns the actual number of views in

[2021-09-23 11:28] tarbayev opened #138 "find().actualView() gets type mismatch error on a nested view type within a custom generic container"
## Example
With the following definitions:
[code]
and the query:
[code]

The workaround is to find the parent view first and query the child view in it:
[code]
However this makes the test more verbose and coupled to the implementation details of the view.

Might be related to #104

[2021-09-24 15:01] pjcau opened #140 "Test a ViewBuilder Crash"
HI,

I should use a trick to the keyPath for didApper, so I write a struct

[code]

and after I can do a test

[code]

![Screenshot 2021-09-24 at 16 58 02](https://user-images.githubusercontent.com/1088176/134696373-1507d93e-e173-4c92-bbcb-019eedb96dfd.png)
)

So I looking a trick to cannot repeat the

` internal var didAppear: ((Self) -> Void)?
`

in each views that I can test.

Do you have a new

[2021-10-04 08:47] pjcau opened #141 "Crash on Xcode13 not in Xcode12"
Hi All,

I upated to Xcode13 and I have this error in the library

<img width="1678" alt="Screenshot 2021-10-04 at 10 45 25" src="https://user-images.githubusercontent.com/1088176/135821087-df03a35a-b0f3-4d8f-b0c3-38b9262fb75f.png">

Can you have news about the xcode13?

BR

J

[2021-10-04 10:10] nalexn commented on #141
Hey, could you post the structure of the `ChannelsView`: which variables or property wrappers it has, exactly as they are declared in the view? You can skip the body of the view.

[2021-10-04 10:12] pjcau commented on #141
OK,

[code]

[2021-10-04 12:28] bukira opened #142 "breaking changes to alerts..."
Since the breaking changes to the alert and sheet etc get an error when trying to test

This is my view code with both an Alert and a Sheet

        }.alertInspectable(isPresented: $viewModel.showAlert) {
            Alert(
                title: Text(viewModel.alertTitle()),
                message: Text(viewModel.alertMessage()),
                dismissButton: .default(
                    Text(

[2021-10-05 18:52] pjcau commented on #141
Have you Newas

Have you news?

J

[2021-10-05 19:16] nalexn commented on #141
Hey, I'm running short on free time, sorry. I'll get back to this issue shortly

[2021-10-14 13:38] MihaiDamian opened #145 "'Cannot find 'XCTFail' in scope' when integrating with CocoaPods"
When integrating via CocoPods I get the error 'Cannot find 'XCTFail' in scope' when ViewInspector is being built.

The Podfile looks like this:

[code]

The problem is that ENABLE_TESTING_SEARCH_PATHS is not set to YES in the ViewInspector target. I think you need something like this in your Podspec:

[code]

I'm using ViewInspector 0.9.0 and Xcode 13.

I attached a demo project that shows the pro

[2021-10-18 20:32] muzammil-triffort commented on #145
@MihaiDamian I am having the same issue. Have you found any solution for this?

[2021-10-28 16:26] jsoneaday opened #146 "Project fails to compile after adding ViewInspector as Swift Package Manager"
My only option given was to add it to my root project as opposed to my tests. I am on M1.
I get following errors on trying to build.

Undefined symbol: _OBJC_CLASS_$_XCTestExpectation
Undefined symbol: __swift_FORCE_LOAD_$_XCTestSwiftSupport
Undefined symbol: XCTest.XCTFail(_: Swift.String, file: Swift.StaticString, line: Swift.UInt) -> ()

[2021-10-28 18:23] jsoneaday opened #147 "Can someone tell me what this means: Referencing instance method 'hStack()' on 'InspectableView' requires that 'ViewType.VStack' conform to 'SingleViewContent'"
I have deeply nested view and would like to get the final elements, but trying to write the path down to the element is not working for me. For example if I wanted to find Text("\(message.fullName)") what would be a valid path?

[code]

[2021-10-28 19:46] #147 closed, assigned to nobody

[2021-11-21 11:27] #146 closed

[2021-11-21 11:44] nalexn commented on #145
Thank you for reporting this!
I did update the `Podspec` for the next version, however, I'm confused why this was needed as `ENABLE_TESTING_SEARCH_PATHS` was set to `YES` in the 0.9.0

<img width="666" alt="Screenshot 2021-11-21 at 14 39 03" src="https://user-images.githubusercontent.com/1594746/142760428-b04641ba-5ad9-4bcc-9f57-1a2849ea12d9.png">

[2021-11-21 12:05] nalexn commented on #141
Hey, I tried to replicate the problem with the code you shared and could not get it to crash. Could you share a sample project where the issue can be reproduced?

[2021-11-21 12:40] nalexn commented on #140
Hey, I did some experiments with the sample code you have.

The problem is with referencing `Self` in the `var didAppear: ((Self) -> Void)?`, which is perfectly legit, however, in Xcode 13 it crashes if the type has a generic parameter.

That is, when I replace `Self` with just `Inspectable`, the code does not crash., so I believe this is a bug in the Swift compiler.

The good news is that the [al

[2021-11-21 12:40] #140 closed

[2021-11-21 20:24] nalexn commented on #136
I've made so that subscript does not crash for an absent view, and introduced a `var isAbsent: Bool` which can be used for asserting the view is not present:

[code]

That being said, the `count` still returns the total number of views, including the invisible ones (changing the semantics would break tests for many users), so instead, if you need to get to know the number of visible views, you can

[2021-11-21 20:30] #134 closed

[2021-11-25 13:43] nalexn commented on #122
Hey, sorry for the late reaction.

I've just downloaded your sample project and ran tests in Xcode 13.1, no issues:

<img width="1072" alt="Screenshot 2021-11-25 at 16 40 04" src="https://user-images.githubusercontent.com/1594746/143451865-0c0edb6c-35b5-4cc1-9361-3c37bb0471e2.png">

I think clearing DerivedData and other standard tricks with Xcode would have resolved it for you. Let me know if thi

[2021-11-25 13:43] #122 closed

[2021-11-25 13:58] nalexn commented on #89
Closing this ticket as the symptoms of the incorrectly picked target [have changed](https://github.com/nalexn/ViewInspector/issues/146) in the newer Xcode versions. Although this was always [mentioned](https://github.com/nalexn/ViewInspector#how-do-i-add-it-to-my-xcode-project) in the readme, there will always be people not reading the manual 🤷‍♂️

[2021-11-25 13:58] #89 closed

[2021-11-25 19:54] orchetect commented on #122
Looks to be working for me as well in Xcode 13.1.

[2021-11-26 19:47] jsoneaday opened #148 "Does ViewInspector support async await?"
I have some views that use async await internally and for some reason xcode says I have to use await to init them. Probably they became actors once their members became awaitable?
So when I try and run ViewHosting.host I get an exception that "Accessing state Object's object without being installed on a view this will create a new instance each time". And then later within ViewHosting.makeWindow,

[2021-12-08 01:57] Xidrovo commented on #142
Hey @bukira could you resolve this?, I'm in the same situation and don't know what to do

[2021-12-08 11:20] bukira commented on #142
No I didn't, I think it was just the alert.message() that had the issue, so I just commented it out for now

[2021-12-13 08:33] pobengtsson opened #149 "How to verify that a view injects an environmentObject to one of its subviews"
(A solution proposal ready become a PR for this issue, if you would be willing to consider it)

I have a custom view that uses custom child views. The child views depends on an @EnvironmentObject.
[code]
I want to test that the parent view injects the environment object as expected, but when I try:

[code]
I get fatal error that anObject is not set on the child. As I understand other issues concer

[2021-12-13 12:01] nalexn commented on #149
Hey @pobengtsson ,

I see where the problem is. `EnvironmentObject` injection in the child views is working, that is if you inspected something inside the child view that reads from the Env object, it'd work (for example inspect value from `Text(theObject.value)` in the child)

That being said, when you request `actualView()`, it returns the view structure as-is, disconnected from the environment

[2021-12-13 12:06] nalexn commented on #149
As a separate note, there is no need to create expectation as the `on` function already does it for you (and calls fulfill at the end):

[code]

[2021-12-13 12:20] pobengtsson commented on #149
Thanks for the instant feedback.
Thats great news!!  So I'll take a look and maybe, if I can understand it well enough and I can understand what the needed changes are, I'll attempt a few tests and a solution.

[2021-12-13 14:06] pobengtsson commented on #149
@nalexn your clues on what was needed made it easy to find and fix. Unless, I completely missunderstood.
I pushed it as PR for your review. #150

[2021-12-15 17:17] bukira opened #153 "run without adding to live code"
Can you use viewinspector without adding

internal let inspection = Inspection<Self>() //for testing UI

and

.onReceive(inspection.notice) { self.inspection.visit(self, $0) }

to production code?
As these 2 lines corrupt with webRTC project

[2021-12-15 17:24] nalexn commented on #153
Hey, you can try using conditional compilation (compiler flags) so that the same code would use view inspector in `debug` but get removed for `prod` mode.

Something similar to what is suggested for [watchOS inspection guide](https://github.com/nalexn/ViewInspector/blob/master/guide_watchOS.md), that references [this file](https://github.com/nalexn/ViewInspector/blob/master/.watchOS/watchOS-Ext/wa

[2021-12-15 17:42] bukira commented on #153
Legend , I need for just testing in test target

[2021-12-15 19:05] bukira commented on #153
So would I use the same watchOS code but change to iOS if def? Or is that watchOS specific code and I just need to put an
#if DEBUG
Before the code in each View?

[2021-12-20 18:17] nalexn commented on #148
@jsoneaday can you try running the test without `@StateObject` annotation. From my understanding, this is not needed here but can cause all those weird messages.

[2021-12-21 16:12] nalexn commented on #142
My apologies for the late response.

Short answer:

Just insert `.text()` after `.message()` for `Alert`

Long answer:

iOS 15 APIs have added `func alert` overloads that allow the message to be an arbitrary view, not just a `Text`.

So, while `message()` is defined for both `Alert` and `ActionSheet`, now they return views of different types: `ClassifiedView` and `Text` respectively. This is unfor

[2021-12-22 11:12] nalexn commented on #153
Realized my previous advice wasn't on point. Could you explain how exactly "these 2 lines corrupt with webRTC project"?

[2021-12-22 11:16] nalexn commented on #141
Closing this ticket, assuming you have resolved the issue. Feel free to re-open

[2021-12-22 11:16] #141 closed

[2021-12-22 11:18] nalexn commented on #130
I assume you have resolved the issue. Feel free to re-open

[2021-12-22 11:18] #130 closed

[2021-12-22 11:19] nalexn commented on #123
I consider this issue no longer relevant. Feel free to re-open

[2021-12-22 11:19] #123 closed

[2021-12-22 14:48] bukira commented on #153
Your answer worked for me, I don’t know how they corrupt as such, if I have those 2 lines in build code then the first voip call has no audio, if I remove those lines then voip calls have audio, it’s very weird. But as viewinspector is only required for UI tests then I added an if def for test target,

I added -DTESTBUILD to my other linker flags in my test target and then added

#if TESTTARGET
Vi

[2021-12-30 12:35] #129 closed

[2021-12-30 12:35] #138 closed

[2021-12-30 12:35] #149 closed

[2021-12-30 13:18] nalexn commented on #136
Released with v0.9.1

[2021-12-30 13:18] #136 closed

[2021-12-30 13:18] nalexn commented on #145
Released with v0.9.1

[2021-12-30 13:21] #153 closed

[2021-12-30 13:21] #142 closed

[2021-12-30 17:28] nalexn commented on #129
Checking for absent views is now available in v0.9.1, [an example](https://github.com/nalexn/ViewInspector/issues/136#issuecomment-974889914).

[2022-01-03 22:40] superarts opened #154 "Testing UIActivityViewController?"
Hi I have a stupid question. I have an `ActivityView` as `UIViewControllerRepresentable` that wraps up a `UIActivityViewController`; when I was trying to `host` it as shown in the example, I got:

[code]

I assume it is because of the implementation of `ViewHosting`. Is there any method that I can use to inspect the `UIActivityViewController` inside please?

[code]

[2022-01-05 19:08] nickg-ifit opened #155 "Can View Inspector provide more descriptive errors when throwing?"
Using `XCTAssertNoThrow(try sut.inspect().find(text: "Hello World!"))` is a nice convenient way to assert whether or not my view contains a particular child, however in this case that this fails, the thrown error offers a fairly generic message: `caught error: "Search did not find a match"`

Would it be possible to update the apis such that thrown errors provide some details that make it easier to

[2022-01-05 19:34] nalexn commented on #155
Hey @nickg-ifit I'm happy to make the message more descriptive for this case, though could you provide an example of the hierarchy and the desired message thrown?
It can potentially provide a text representation of the view graph it traversed, if that can be of any help

[2022-01-05 20:45] nickg-ifit commented on #155
Hmm.  A text representation of the view graph would probably be helpful, just for the sake of understanding actual vs expected.  What's most important is that from reading the message, I can easily tie that back to the actual line of code for the thing I was searching for.

One of the errors I've seen thrown is a bit more helpful:

[code]

From this message, I can tell that the view I was even cal

[2022-01-05 21:30] a-shatou commented on #69
This issue still exists. I am using the last version - findAll always return an empty array.

[2022-01-05 21:43] nalexn commented on #69
@a-shatou can you try `find` instead of 'findAll' to see if it reports any blocking views? You might be missing `Inspectable` conformance

[2022-01-05 21:54] a-shatou opened #156 "findAll Always Returns Empty Array"
Here is the test code:

`try sut.inspect().findAll(ViewType.Text.self)`

The tested view has many Text. I have tried the above code with condition as well - always returning empty array.

[2022-01-05 22:03] nalexn commented on #156
Hey, please provide the view itself so I could help you out.

I'm sure there was no regression in the last version because there are quite some tests for `findAll`, including those searching for `ViewType.Text`, like [here](https://github.com/nalexn/ViewInspector/blob/master/Tests/ViewInspectorTests/ViewSearchTests.swift#L94).

[2022-01-05 22:06] nalexn commented on #156
Also, as I [replied previously](https://github.com/nalexn/ViewInspector/issues/69#issuecomment-1006101730), you're likely missing `Inspectable` conformance, and the easiest way to get to know which of your custom views does not conform - simply replace `findAll` with `find` for a quick test - it'll throw the error with the name of that view

[2022-01-09 13:56] nalexn commented on #154
Hey @superarts , I confirm the issue with the library here, expect a fix coming with one of the future versions.

[2022-01-17 09:50] MihaiDamian commented on #145
@nalexn This issue is not fixed. ENABLE_TESTING_SEARCH_PATHS needs to be added to the Podspec. Settings in the library's project file are not preserved by Cocoapods.

[2022-01-17 09:56] nalexn commented on #145
Gotcha, will be done for the next release. Sorry for not double-checking.

[2022-01-25 11:09] gmcadosch opened #157 "Selected tab of a TabView"
Excellent work on the ViewInspector!

I've just come across a test where I have to check a TabView. I want to test whether the correct tab is selected. How can this be achieved? All views of all tabs are present in the path.

[2022-01-25 14:52] nalexn commented on #157
Hey @gmcadosch , you'd need to use the `TabView` variant that takes a `Binding` as a parameter. Then you'll be able to see which tab is selected by reading the local `@State` variable, for example, which `Binding` you passed to `TabView`

[2022-01-25 15:02] gmcadosch commented on #157
Thanks for clarification. I'm using a view model approach, so I will test the model property. But you can't test if the state is correctly bound to the SwiftUI control, right?

[2022-01-25 15:10] nalexn commented on #157
There is no API that would allow you to "tap" on a Tab and then assure the state has changed. You can only provide a `Binding` to the TabView and then programmatically change the tab from inside the test, that is extract your custom view, take its view model, and set the value to the tab parameter. You can obviously read the selected tab value that you've just changed in the test, but this won't c

[2022-01-30 23:43] gedaiu opened #158 "Question: How to check the Shape type"
Is there a way to query all the shapes of certain type or check if a Shape view is of a certain type?

maybe something like this?

[code]
or

[code]

[2022-01-30 23:45] gedaiu opened #159 "Weird error message for inspect call:"
When I try to inspect a view, I get this error message:

anyView() found TestApp.AnnotationView instead of AnyView

[code]

How should I interpret this error message, and how can I debug it?

[2022-01-31 09:25] nalexn commented on #159
Hey, this message says there is apparently an `AnnotationView` in your hierarchy, and not the `AnyView`. If that's your custom view, extend it in the tests file with `Inspectable` conformance:

[code]
and instead of `.anyView()` use `.view(AnnotationView.self)` to unwrap the view. See [the guide](https://github.com/nalexn/ViewInspector/blob/master/guide.md) for more info.

[2022-01-31 09:34] nalexn commented on #158
Hey, the way SwiftUI stores `Shape` views does not allow to reliably judge on its type, however, as a workaround you can try to compare the returned Shape's `path(in rect: CGRect)`.

[2022-01-31 11:20] bukira opened #160 "Question - how to take snapshots"
This is more a question than an issue,

While running test, is there a way to take snapshots, for example

                    let sut = ContactsDiallerView(isShowingContactsSelection: .constant(true), parentViewModel: diallerViewModel!)

                    let exp = sut.inspection.inspect { view in
                        expect(getView(from: view, ofType: ContactsDiallerViewContent.self)).notTo

[2022-01-31 14:20] gedaiu commented on #159
Hmmm... I am already extending my view with `Inspectable` and this error is interesting because `subject` is `AnnotationView`

is there a way to debug the hierarchy of the views from `subject`?

[code]

[2022-01-31 14:22] gedaiu commented on #158
hmmm... I actually want a component that based on it's state to render different shapes of the same size... not sure if `path(in rect: CGRect)` will work. But I think I can wrap the shapes in some other views and query those wrappers to check the right thing is happening

[2022-02-06 10:15] nalexn commented on #159
Here is the chain that gets to the first Shape:

[code]

[2022-02-22 16:57] SumoSimo opened #161 "'find' depends on view structure (implementation detail)"
Hi there. Please consider the following example:

**View Structure**

[code]

**Test**
[code]

This test fails because the text containing "Hello, world!" is contained inside of `NestedContentView`. However, this test should still pass in order to uphold good testing philosophy.

When I had originally constructed `ContentView` to contain the `Text`, the test passed, which is expected. I then refac

[2022-02-22 17:05] nalexn commented on #161
hey, the problem is that you've introduced a new custom view on the way to the "Hello, world", and did not add `Inspectable` conformance:

[code]

You would have noticed it if you didn't silence the exceptions thrown by the library with `try?`, I highly recommend you structure your tests so the exceptions are not discarded.

[2022-02-22 17:11] #161 closed, assigned to nobody

[2022-02-28 11:42] bukira opened #162 "How to access stacks inside a GeometryReader"
I am trying to access the stacks inside a GeometryReader

let filterStack = try! view.zStack().vStack(0).geometryReader(1).zStack(0).hStack(1)

But I am getting the following errors

Referencing instance method 'zStack' on 'InspectableView' requires that 'ViewType.GeometryReader' conform to 'MultipleViewContent'

[2022-02-28 13:39] nalexn commented on #162
hey, try to remove `0` for the `zStack(0)`, like so:

[code]

[2022-02-28 13:43] bukira commented on #162
Genius :-)

[2022-02-28 13:43] #162 closed

[2022-03-02 01:43] matis-schotte commented on #160
Very much interested in this, too.

[2022-03-02 01:47] matis-schotte commented on #133
This is a _very_ important piece of information. Might I suggest adding it to the documentation?
Or did I just overlook it being already somewhere?

[2022-03-03 20:46] a-shatou opened #163 "callOnChange Throws Errors"
I am having issue using `callOnChange`. It always throws "`MyView does not have 'onChange' modifier`". I have tried calling it on the main view (sut) and its embedded NavigationView (on which onChangeOf is actually called). What I am missing? 🤔

[2022-03-04 13:45] nalexn commented on #163
Hey,

I just tried calling `onChange` for the following test view:

[code]

and test:

[code]

It does not throw the error. Try running it on your end, compare `MyView` to the view you have and let me know the essential difference.

[2022-03-06 20:23] a-shatou commented on #163
Thanks for the quick reply. Your code works fine. For some reason, mine doesn't. I have been trying to debug it and change your code to fail and I think I manage to break it. Here is the code after modification:

The model:
[code]

The view and its test:

[code]

If you run this test, it will fail with this error: `caught error: "NavigationView<Text> does not have 'onChange' modifier"`. The differ

[2022-03-07 08:57] nalexn commented on #163
Found the bug and fixed it. Thank you for reporting!

Until the fix is published, a workaround is to explicitly wrap the parameter in Optional. That is, instead of

[code]

use

[code]

[2022-03-11 12:07] haemi commented on #157
I have a similar problem... after changing the tab is it possible to find a view on the new tab? E.g. I have a TabView with two children, after switching to the second tab I would like to find a Button there and tap it again... is this possible with `ViewInspector`?

[2022-03-11 16:24] haemi opened #164 "Switching selectedTab does not seem to work"
With the following view

[code]

and this test

[code]

I get the error in the marked line; it seems as if the tab is not switched, or at least ViewInspector does not see the change. Or am I doing something wrong here?

[2022-03-14 09:15] varun531 opened #165 "ViewInspector inspects "destination" property of NavigationLink, can recurse infinitely"
Using ViewInspector 0.9.1, XCode 13.2.1.

If I have the following views:

[code]

and I try to search for the text "viewB" on `ViewA` via:

[code]

This test will actually pass for me, because ViewInspector treats the `NavigationLink` as a child of `ViewA`, and its `destination` as a child of the `NavigationLink`.

NOTE: If `ViewB` has a `NavigationLink` back to `ViewA`, ViewInspector will recurse

[2022-03-14 14:42] Nillerr opened #166 "Locating `UIViewRepresentable` views when multiple views of the same type exists"
Hi @nalexn 👋

Thanks for the amazing work you've put into ViewInspector!

We use a lot of our in-house custom iOS components, where some are built on top of UIKit and thus wrapped in `UIViewRepresentable`s. We have noticed an issue in trying to locate these elements by `accessibilityIdentifier()` when multiple instances of one of these elements are contained in a single `VStack`:

[code]

Using a

[2022-03-14 15:01] Tyler-Keith-Thompson opened #167 "Feature Request: Allow tests to specify environment"
### The problem
I've been running into a plethora of `EnvironmentObject` issues. Seemingly, nested views that rely on it have lots of issues finding it after state changes.

My specific use-case could be summed up as, I have a view heavily dependent on an environment object, I want ViewInspector to prove that the parent displays that view as a sheet *after* a state change. Unfortunately, before th

[2022-03-14 17:52] varun531 commented on #165
@Tyler-Keith-Thompson it should NOT be inspecting the `destination` property of the `NavigationLink` when inspecting `ViewA`. Inspection/verification of `ViewA` content is meaningless if it ends up inspecting ALL views that can be reached from `ViewA` via `NavigationLink`s.

[2022-03-15 07:06] nalexn commented on #166
Yeah, I can see the problem, the code that looks up the UIView does not handle this case properly. I'll explore how this can be fixed.

[2022-03-15 18:57] varun531 commented on #165
@Tyler-Keith-Thompson I agree that having a configurable recursion depth is bad, because it limits arbitrarily nested views. I would be happy having `find` skip over destinations of inactive `NavigationLink`s. Regardless, I hope you agree that the scenario I posted above is unacceptable, because it seriously screws up the signal of the tests.

[2022-03-29 09:04] amaocha-first opened #169 "Can not find `.background()` When BackgroundView contains Color"
Environment
- ViewInspector 0.9.1
- Xcode 13.2.1
- iOS Deployment Target 15.0

The following test failed with error.
[code]

error message: ```XCTAssertEqual failed: throw error "Text does not have `background` modifier."```

ViewInspector expect `sut` to contain a `_BackgroundModifier`. However, in fact, `sut` contains a `_BackgroundStyleModifier`.
In my case, when iOS Deployment Target is 14.0,

[2022-03-29 09:46] nalexn commented on #169
Hey, thanks for reporting! Yep, this is clearly a change in iOS 15 that wasn't covered with tests in the lib. Should be an easy fix.

[2022-03-31 08:47] nalexn commented on #165
Yeah, I see. I suspect the correct `find` behavior should be to continue the search in the `NavigationLinks`'s destination only if it is active. I'll look into a fix

[2022-04-01 11:23] jgprogram opened #171 "Unexpected error thrown when trying to get access to the keyboardType in TextField"
**Environment:**

- ViewInspector 0.9.1
- Xcode 13.2.1
- iOS Deployment Target 14.0
- Swift 5

**Code to reproduce:**

[code]

**Error thrown:**

`unexpected error thrown: <Type mismatch: WritableKeyPath<EnvironmentValues, KeyboardType> is not WritableKeyPath<EnvironmentValues, Int>>`

**Description:**
When i am trying to assert keyboard type from text field I am getting the above error. I checked

[2022-04-01 11:28] toto1010 commented on #171
I have exact same issue!

[2022-04-01 11:29] gwrn commented on #171
I think I also had this issue in of my projects but I'm not 100% sure since this whole iOS development is one big struggle with bugs.

[2022-04-15 04:59] dominikmayer opened #172 "Asynchronous wait failed"
I just spent hours debugging an "Asynchronous wait failed" error and wanted to share, in case anyone runs into the same issue.

My problem was that I had reworked an existing test to support ViewInespector and had not noticed, that the test func was still marked `async`. So instead of this:

[code]

I had this:

[code]

Maybe you want to add a note to the guide to help others?

[2022-04-15 09:44] nalexn commented on #172
Hey, thank you for reporting this!

There is currently no explicit section in readme for troubleshooting specific errors, although the fact you posted the problem here with the exact error message will already help others, as searching inside "issues" is a standard place to look at. So I quess, you've done what was needed!

[2022-04-15 09:44] #172 closed

[2022-04-19 11:01] jesus-mg-ios opened #173 "Slider change result is different in M1 than Intel"
## Environment:

ViewInspector 0.9.1
Xcode 13.2.1
iOS Deployment Target 14.0
Swift 5

## Issue
Hi!

I made a test to test this code:

[code]

The test is like this:

[code]

Sometimes the value of changed is true and another is false, but in the CI that is intel, the test always succeed

[2022-04-21 12:39] ricdev opened #174 "Library not loaded: @rpath/libXCTestSwiftSupport.dylib"
Encountering the following. This happens whenever I add the library via SPM:

Original error:
ld: warning: Could not find or use auto-linked library 'XCTestSwiftSupport'
ld: warning: Could not find or use auto-linked framework 'XCTest'

setting ENABLE_TESTING_SEARCH_PATHS to YES shows:
Xcode_13.3.app/Contents/Developer/Platforms/iPhoneOS.platform/Library/Developer/CoreSimulator/Profiles/Runtimes/i

[2022-04-21 13:04] nalexn commented on #174
Hey, please have a look at #146 and let me know if this helps

[2022-04-21 13:18] #174 closed

[2022-05-08 21:05] nh7a commented on #167
I'm using `ViewHosting.view(myView.environmentObject(appState))` and "async inspection", and it appears to have solved my problem on my laptop but it still 100% crashes on CI (GitHub Action & Xcode Cloud). Hopefully your idea fully solves the problem.

[2022-05-12 02:24] huwshimi commented on #167
I believe [this is a minimal reproduction](https://github.com/huwshimi/view-inspector-env-error) of the problem.

A [view is displayed on a state change](https://github.com/huwshimi/view-inspector-env-error/blob/main/EnvError/ContentView.swift) which requires access to the environment context. This works fine when running the app, but [fails in the test](https://github.com/huwshimi/view-inspector-

[2022-05-20 08:50] ikesyo opened #176 "`Label(_:systemImage:)` is not supported"
[code]

This throws an error:

[2022-05-21 18:18] tete1030 commented on #99
I encountered the same problem in 0.9.1. After some digging, I find that there seems a bug introducing from 0.7.0 (the version is consistent with the time point when this bug started appearing)

I find that my environmentObject is instead set in `medium.environmentModifiers`, due to this code:

https://github.com/nalexn/ViewInspector/blob/6b88c4ec1fa20cf38f2138052e63c8e79df5d76e/Sources/ViewInspec

[2022-05-30 14:40] nalexn commented on #171
Thanks for the report! This is fixed in the coming next version.

[2022-05-30 15:07] nalexn commented on #176
Thanks for the repport! This is fixed in the coming new version

[2022-05-30 15:51] nalexn commented on #169
Hey, I just got to look into your report, and I can see the test you've provided passes for both iOS 14 and 15 in Xcode 13.4. Could you re-test?

[2022-05-30 17:49] nalexn commented on #169
This is fixed for the coming new version

[2022-06-20 09:13] jesus-mg-ios opened #177 "Support for SwiftUI 4.0 and Xcode 14"
We'll really love if you update view inspector to work with SwiftUI 4.0 and Xcode 14

Thank you in advance

[2022-06-23 14:03] MikePendo opened #178 "Inspecting ViewController (UIHostingController)"
Hi
Is it possible to inspect a view controller at run time. I.e SwiftUI creates UIHostingController whenever, it appears I would like to inspect it contents and get all the buttons (for instance). I have written my own reflector and after   I traverse over all the label/child there are no types like buttons or gestures. Is it possible to achieve it?

[2022-06-24 11:05] javalnanda opened #179 "Question: How to traverse child inside Custom View with generic ViewBuilder"
Hi,
I was trying to use this library and had few queries:
1. Does all the custom view in the hierarchy need to confirm to Inspectable to find the child view or just the root parent view is enough to confirm to Inspectable?
2. How can we traverse through CustomView with generic params? And what if the argument passed to them are private views?

For e.g:
I have this View:
[code]
Here `ScreenScaffold

[2022-06-29 23:29] Tyler-Keith-Thompson opened #180 "ViewHosting cache"
I've run into a problem I don't fully understand. I'm getting a cached result when using a UIViewRepresentable and calling `.actualView().uiView()` that's causing tests to fail for the wrong reason.

I traced the problem back to find it's because of the `store` method on `ViewHosting`. It can't uniquely identify views, it simply stores with `host(_:)`.

I was able to work around my problem by call

[2022-06-29 23:57] Tyler-Keith-Thompson commented on #180
Update: This may have to do with a convenience I wrote, but I'm still not quite understanding how it's supposed to work.

[2022-06-30 21:29] babbage opened #181 "How to build failing test for change in view"
I have a test I wrote to confirm a bug that I found, where the failure to include an `@Published` on an array in my viewModel meant that the view would not immediately update when a method was called that added an item to the array, even though the viewModel data had changed. Functionally, what would be seen was that when another change was made, the expected initial change would be visible as the

[2022-07-06 21:42] grantneufeld opened #182 "setInput(_:) not changing the value associated with a TextField"
**Update: I’ve narrowed the problem down to `setInput` not actually setting the value of the text in the TextField. See first comment below for details.**

---

I have a SwiftUI view that conditionally shows a `Text` view (an error message), or an `EmptyView`, based on an observed var attached to a `TextField` (in the code below: `data.name`).

When I use ViewInspector’s `setInput(_:)` method on t

[2022-07-11 16:14] travischapman opened #183 "How to test primaryAction on a Menu"
In Apple's [documentation for Menu](https://developer.apple.com/documentation/swiftui/menu), one of the initializers supports a `primaryAction`. When this initializer is used, the primary action is called when the Menu's label is tapped. If the user long presses the label, then the typical Menu is shown.

Example SwiftUI code:
[code]

Is there support for testing the `primaryAction` of a Menu with

[2022-07-12 19:35] grantneufeld commented on #182
After some more digging (manually stepping through the code in the debugger), I’ve found that `setInput` isn’t actually setting the input on the given `TextField`.

[code]

It’s not throwing an error at either step (it passes all the checks in `guardIsResponsive()` and `inputBinding()`), so I’ve been unable to figure out why it’s failing to assign the String value to the TextField.

[2022-07-28 01:40] grantneufeld opened #185 "callOnTapGesture not updating @State value?"
EDIT: **Nevermind.** I missed the part in the guide on needing to add special code to the view for cases like this. Oops.

---

I’m using `callOnTapGesture` to trigger an `onTapGesture` closure. Stepping through in the debugger (when running the unit test), I can see that the closure does get called, but the @State variable it updates (by calling `self.tapped.toggle()`, in my sample code below) do

[2022-07-28 22:07] ethankay opened #186 "Help using async/await and ViewInspector in a single test"
TLDR: Is it possible to have an async XCTest method which also uses ViewInspector (e.g. `func test...() async {  let exp = view.inspect.inspection }`?

More details:
I'm attempting to write tests that call async/await methods which eventually will influence a specific View I'm trying to test. Following the ViewInspector examples, I've been using the Inspection setup, which works great normally. Ho

[2022-07-29 17:20] grantneufeld commented on #185
Oops. I missed the part in the guide doc that shows how we need to add special code to the view, and write the tests a bit differently, to handle stuff like this.

[2022-07-29 17:20] #185 closed

[2022-08-18 12:33] martinwennerberg commented on #177
Any ideas why what's needed? My tests also fail under Xcode 14 (beta 5), but I didn't look into why exactly yet.

[2022-08-18 16:27] aaryankotharii commented on #185
Hi @grantneufeld, can you please the what special code we need to add to test this ?

[2022-08-22 10:19] httpedo13 opened #187 "Help using inspection"
Hi,
I have a view with environmentObject, inside this view there is another view with another environmentObject. Ho can I inspect this view?
This is the solution that I thought, but the compiler don't enter inside the second inspection.
[code]

[2022-09-01 12:36] aaryankotharii opened #188 "help: inspecting list with children"
unable to test [hierarchical list](https://developer.apple.com/documentation/swiftui/list/init(_:id:children:rowcontent:)-93wbq)

UI taken from [hackingwithswift](https://www.hackingwithswift.com/quick-start/swiftui/how-to-create-expanding-lists)
[code]

test written
[code]

error
`view(ListTest.self).list().text(0) found OutlineGroup<Swift.Array<WalletUITests.Bookmark>, Foundation.UUID, SwiftUI.T

[2022-09-10 17:46] nalexn commented on #188
Hey, in your specific case you can get to the `Text` using this chain:

[code]

I do find this quite verbose and unintuitive, I'll explore how to improve the experience of inspecting the hierarchical lists.

[2022-09-10 17:53] nalexn commented on #187
Hey, you cannot host views asynchronously and nest `inspect` calls, that's why the second closure doesn't work. I'd recommend you breaking down this test into two, where there is a single view being hosted and inspected per test. From your example, it's not clear why you want to inspect both view from a single test. You should provide more context for further assistance

[2022-09-10 19:00] nalexn commented on #183
Thank you for the request, @travischapman ! v0.9.2 will have support for `primaryAction`

[2022-09-10 20:03] nalexn commented on #181
Hey @babbage ,
`@Published` property wrapper allows SwiftUI to observe changes in properties (your array) on the ObservableObject (your viewModel). If you omit it, the object and the array stay functional, but mutations remain unnoticed by the SwiftUI render engine.

If we take out the SwiftUI for ease of understanding, your test is equivalent to the following:
[code]

This test succeeds because v

[2022-09-10 21:11] nalexn commented on #181
Feel free to reopen the issue if this did not help

[2022-09-10 21:11] #181 closed

[2022-09-10 21:20] nalexn commented on #179
Hey, my apologies for the late response.

Searching for a view with generic parameters requires you to specify all the generic parameters, which is inconvenient. You can work around this by searching for a child view inside those views and then calling `parent`. The approach is described in [the guide](https://github.com/nalexn/ViewInspector/blob/master/guide.md#parent). In your example, you can s

[2022-09-10 21:22] nalexn commented on #173
Feel free to reopen the issue if this was not helpful

[2022-09-10 21:22] #173 closed

[2022-09-10 21:31] nalexn commented on #178
As discussed on a call, it doesn't appear to be possible to use ViewInspector or a similar tool to traverse the SwiftUI hierarchy hosted by the running app without access to the actual view types and the ability to extend them with `Inspectable` protocol conformance.

[2022-09-10 21:31] #178 closed

[2022-09-10 21:35] nalexn commented on #180
From what I understand you're facing the problem reported in #166, I'll close this one as duplicate, feel free to subscribe on that issue, as I'm planning on fixing it.

[2022-09-10 21:35] #180 closed

[2022-09-10 21:58] nalexn commented on #160
If we're talking about a graphical snapshot, you can try using [this helper](https://github.com/nalexn/EnvironmentOverrides/blob/7e32fb28495b93feece542a11782387edb08a545/Sources/EnvironmentOverrides/GeneralHelpers.swift#L95) from another SwiftUI library of mine.
It is essentially using UIKit API to capture the entire screen's snapshot. If you want to do this from the test, you do need to host the

[2022-09-10 22:00] nalexn commented on #159
Feel free to reopen the ticket if the suggestion above did not help

[2022-09-10 22:00] #159 closed

[2022-09-10 22:00] #158 closed

[2022-09-10 22:03] bukira commented on #160
Well with iOS 16 now doing images from views then there’s not much point anymore :)

[2022-09-10 22:04] nalexn commented on #160
@bukira could you elaborate more on that? I didn't get to this yet

[2022-09-10 22:11] #117 closed

[2022-09-10 22:12] nalexn commented on #53
Feel free to reopen the ticket if the suggestion above did not work for you

[2022-09-10 22:12] #53 closed

[2022-09-12 00:51] sreexamus opened #192 "Xcode14 views are not extracted for inspect api"
After updating our project to Xcode14 Test Cases are not working.

[2022-09-12 01:12] #192 closed

[2022-09-13 14:56] bukira opened #193 "Toggle<Text> does not have '_isOn' attribute"
HI,

Ive installed Xcode 14 and when running tests that worked before I am now getting

__lldb_expr_13/<EXPR>:6: Fatal error: 'try!' expression unexpectedly raised an error: Toggle<Text> does not have '_isOn' attribute

[2022-09-14 03:45] A30007283-Kamyab opened #194 "Unable to test Accessibility Modifiers"
I have recently updated to Xcode 14 and it seems like I am not able to test accessibility modifiers at all.

This is from one of the unit tests in the ViewInspector package and it is failing for me with following error:
`EmptyView does not have 'accessibilityLabel' modifier`

[code]

Even changing the `EmptyView()` to `Text("")` throws the same error `EmptyView does not have 'accessibilityLabel' m

[2022-09-14 05:03] nalexn commented on #194
Hey, yes, this has been addressed as part of the #177, will be released soon

[2022-09-14 05:03] #194 closed

[2022-09-14 05:05] nalexn commented on #193
Hey, yes, there are several changes in the inner structure of the Toggle in iOS 14. I'm tracking this as part of #177

[2022-09-14 05:05] #193 closed

[2022-09-14 06:21] bukira commented on #193
I thought you would be on the case, awesome, keep up the good work, thanks

[2022-09-16 17:22] johan-diabeloop opened #195 "Detect view overlap"
Hi,
First of all, congratulations for this smart library.

Is there a mean to be sure that a view is not overlapped by an upper view, and is actually visible and hittable ?
For example, In the view below, the button cannot be tapped in reality due to the rectangle.
[code]

But the following test succeeds, and the state is actually modified by the button tap.
[code]

[2022-09-17 14:32] nalexn commented on #163
Released with v0.9.2

[2022-09-17 14:32] #163 closed

[2022-09-17 14:33] nalexn commented on #169
Released with v0.9.2

[2022-09-17 14:33] #169 closed

[2022-09-17 14:33] nalexn commented on #171
Released with v0.9.2

[2022-09-17 14:33] #171 closed

[2022-09-17 14:33] nalexn commented on #176
Released with v0.9.2

[2022-09-17 14:33] #176 closed

[2022-09-17 14:33] nalexn commented on #183
Released with v0.9.2

[2022-09-17 14:33] #183 closed

[2022-09-19 03:47] atsu0127 opened #197 "Help testing update by async func"
I wrote a View and test that is updated by an asynchronous function in SwiftUI. But the test failed.
I would like to know how I should write tests in this case.
### View
[code]
### Test
[code]

[2022-09-19 13:25] httpedo13 commented on #187
Hello,
Thanks for your advice, I have a view that contains two other views, only one of which is shown. The view to be shown is chosen by a condition. In the first of these two views there is a button that activates the control for this condition.
I want to test that from the parent view once the button is pressed and the condition is met the view is changed correctly from the first view to the se

[2022-09-19 14:42] nalexn commented on #187
Ok, depending on the state management between the parent and child views there could be two variations, where you either will or will not have access to updated child view state from inside the parent's `inspection` call.

If your child views require async inspection and personal view hosting (for `@State`, `@StateObject` or `@EnvironmentObject`) you won't have access to correct view state from th

[2022-09-19 15:44] martinwennerberg opened #198 "Xcode 14 Watch app support"
Xcode 14 combines the WatchKit App and WatchKit App Extension targets into a single Watch App target. [Release note](https://developer.apple.com/documentation/xcode-release-notes/xcode-14-release-notes).

Please update guide_watchOS.md and ViewHosting.swift to support the new format.

[2022-09-19 15:49] nalexn commented on #198
Ok, I'll look into that. Curious to hear your general feedback on using the library for the watch app though!

[2022-09-19 16:04] martinwennerberg commented on #198
It's been very useful, and very easy to get going!

[2022-09-20 12:46] httpedo13 commented on #187
Hi,
thanks again for the advice, the state managment between the two views is the first that you describe. The problem is that the button is in the child view and when i try to tap it the test fails because i miss the `@EnvironmentObject` , how can i avoid this?
I can test the view changing by directly calling the method triggered by the button.

[2022-09-27 12:36] LucasColomer opened #199 "0.9.2 - cannot find type 'ToolbarPlacement' in scope"
Hi !

I recently upgraded to version 0.9.2.
Unfortunately, when building on gitlab, I get these errors:

`❌  /Users/username/Library/Developer/Xcode/DerivedData/ProjectName-enljwdtuheospgflhgetanmpceiw/SourcePackages/checkouts/ViewInspector/Sources/ViewInspector/Modifiers/NavigationBarModifiers.swift:54:11: cannot find type 'ToolbarPlacement' in scope
extension ToolbarPlacement: BinaryEquatable {

[2022-09-28 15:27] nalexn commented on #199
Hey @LucasColomer, make sure you're using Xcode 14.0, this is the requirement for [v0.9.2](https://github.com/nalexn/ViewInspector/releases/tag/0.9.2)

[2022-09-30 14:06] rssole opened #200 "Linker issue when adding ViewInspector"
Hi, I need help re linker issue I am getting in XCode.
[code]

I am using ViewInspector in test target and it is added through SPM.

Here is snippet I have tried as a starter:

[code]

Any help is very welcome and appreciated with where I might be wrong?

[2022-09-30 16:14] Ricardo1980 opened #201 "Injecting ```.environment(\.horizontalSizeClass, .regular)``` is not working"
Hello,

I have a view that its layout depends on the current horizontalSizeClass, using:
`@Environment(\.horizontalSizeClass) var horizontalSizeClass`
So:
If regular, then the lazy vertical number of columns is 4.
If compact, then the lazy vertical number of columns is 2.

I am trying to do something like:

[code]

I also tried using `ViewHosting/environmentObject/didAppear`.
But no luck, `compact

[2022-10-11 22:27] bachand opened #203 "Question: why do views need to conform to `Inspectable` to be inspected?"
This is an amazing library. Wow!

I am learning how this library works and I have a question about the `Inspectable` protocol.

Let's say I have a toy SwiftUI view setup like this:

[code]

And then let's say I want to verify that my screen shows the string "Hello world" _somewhere_ at any level of the hierarchy. I'd write that test like this:

[code]

I find that for this to to pass I need to con

[2022-10-16 15:34] rhwood commented on #199
I get this same error using Xcode 14.0.1. It appears that ViewInspector requires building the tested project for macOS other than 13.

[2022-10-16 16:31] rhwood commented on #199
I created #206, which I think fixes this, since I could only recreate this using the "My Mac (Mac Catalyst)" build target, but not the "My Mac" build target.

[2022-10-19 15:59] domfz opened #207 "Not finding Elements when a View is wrapped with NavigationStack"
I have a view which has a NavigationStack around it.
[code]
Now when trying to find the text "Hello" via (I use quick and nimble for testing, but XCTest gives the same result)
[code]
it gives me a failed test. When removing the NavigationStack the test succeeds.
Also when adding a tag to the NavigationStack as `.tag` property and print the output of
[code]
(this test also succeeds)

it gives me th

[2022-10-21 06:51] gee-whiz commented on #201
@Ricardo1980  I'm also facing the same issue I tried this  ViewHosting.host(view: view.environment(\.horizontalSizeClass, .compact)), It sort of enters the **regular** but then skips back to compact.

[2022-10-26 20:12] JValderramaN commented on #199
HI

maybe is not related, but there is one struct called the same from SwiftUI
`struct ToolbarPlacement`
https://developer.apple.com/documentation/swiftui/toolbarplacement

Here is in the repo: https://github.com/nalexn/ViewInspector/blob/ac7df67c4e0593470eda90a550f8493a81609745/Sources/ViewInspector/Modifiers/NavigationBarModifiers.swift#L4

Best regards

[2022-10-27 10:48] rhwood commented on #199
Apple introduced ToolbarPlacement in iOS/iPadOS/Mac Catalyst/tvOS 16, macOS 13, and watchOS 9. It is defined in this project such that Apple's definition is used in macOS 13, but not cause "missing symbol" compilation failures on macOS 12. The problem is that Mac Catalyst is not macOS in the conditional compilation macros, so the missing symbol fix doesn't get applied when the target is Mac Cataly

[2022-10-31 12:52] slmille4 opened #209 "Curent status?"
With all the politics going on, and since it's been a month since the last update, I have to ask, is nalexn still available to merge PRs?

[2022-10-31 14:19] nalexn commented on #209
I'm fine, just not available to actively contribute to the project. The release cycle in this project has been like that for quite a while, my appologies

[2022-10-31 14:19] #209 closed

[2022-11-18 08:27] mkieselmann opened #211 "0.9.2 - Not available in Cocoapods"
The latest version 0.9.2 has not made it to the Cocoapods repo. https://cocoapods.org/pods/ViewInspector still shows v0.9.1.
This forces us to use the git repo and tag configuration in Cocoapods, which breaks in some setup.
Would appreciate any help or hints how to push 0.9.2.

Thanks

[2022-11-18 08:39] nalexn commented on #211
The problem is that I need to transfer pod ownership to my new email address (I lost access to the one used in cocoapods). I reached out 2 times through their [pod claim form](https://blog.cocoapods.org/Claim-Your-Pods/) in a span of months, DMed a few cocoapod maintainers in Twitter, asked publicly if anyone knows who I can reach out to for my inquiry - no luck in any direction, no one knows who'

[2022-11-21 18:04] ian0cordova commented on #207
Same issue here with NavigationSplitView under the new ios 16 Navigation setup

[2022-11-21 18:39] ian0cordova commented on #207
Things I've tried

- Updating to ViewInspector 0.9.2 by switching from Pods to SPM
- extending NavigationSplitView and NavigationStack to conform to inspectable

Still getting

` testView(): failed: caught error: "Search did not find a match. Possible blockers: InternalBody"`

[2022-11-28 21:36] bachand commented on #203
I found a related test in this repository.

https://github.com/nalexn/ViewInspector/blob/ac7df67c4e0593470eda90a550f8493a81609745/Tests/ViewInspectorTests/ViewSearchTests.swift#L217-L225

The test leverages a custom view that does not conform to `Inspectable`.

https://github.com/nalexn/ViewInspector/blob/ac7df67c4e0593470eda90a550f8493a81609745/Tests/ViewInspectorTests/ViewSearchTests.swift#L64-L

[2022-11-29 20:56] Karllas opened #214 "onDisappear called immediately after hosting the view"
Is it a bug or expected behaviour that onDisappear closure get's called straight after the view is hosted?

[2022-11-30 07:08] nalexn commented on #203
Hey @bachand , good question. Conformance to `Inspectable` is an unfortunate requirement that I could not work around yet. Here is my understanding why this is impossible to go without it:

As you may already know, the library is relying on swift reflection for digging into the views. In reflection, you can see the names of the variables, you can extract their values, you can get a _string_ repres

[2022-11-30 18:01] bachand commented on #203
Hey @nalexn. Thank you so much for your thoughtful response. I appreciate you taking the time to write this out.

When I look at the `Inspectable` protocol I see two members, an `entity` property and an `extractContent(…)` method. https://github.com/nalexn/ViewInspector/blob/ac7df67c4e0593470eda90a550f8493a81609745/Sources/ViewInspector/BaseTypes.swift#L5-L9

I see what you are saying about not be